.blog{
  background: #F3F3F3;
  padding: 104rem 0 68rem;
  &-top{
    padding: 136rem 0 54rem;
    border-bottom: 1px solid $default;
    display: flex;
    justify-content: space-between;
    .title-section{
      max-width: 576rem;
      color: $default;
      font: $font-64-bold;
      span{
        font: 400 88rem / 84rem $font-family-primary;
        color: $primary;
      }
    }
    .text-section{
      max-width: 872rem;
      color: $gray;
      font: $font-main-regular;
      b{
        margin-bottom: 24rem;
        display: block;
      }
    }
  }
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 32rem -8rem;
  }
  &-item{
    background: $white;
    width: calc(25% - 16rem);
    min-height: 523rem;
    overflow: hidden;
    border-radius: 40rem;
    margin: 0 8rem 32rem;
    position: relative;
    &__item{
      width: 100%;
      height: 100%;
      transition: all ease 350ms;
      transform: rotate3d(0, 1, 0, 0);
      perspective: 1000px;
    }
    &:hover{
      .blog-item__item{
        transform: rotate3d(0, 1, 0, 180deg);

      }
      .blog-item__desc{
        position: relative;
        z-index: 3;
        justify-content: flex-start;
        transform: rotate3d(0, 1, 0, -180deg);
      }
      .blog-item__title,
      .blog-item__date{
        color: $white;
      }
      .blog-item__title{
        margin-bottom: 16rem;
      }
      .blog-item__link{
        opacity: 1;
        visibility: visible;
        z-index: 2;
      }
    }
    &__desc{
      padding: 32rem;
      min-height: 243rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__title{
      font: $font-main-bold;
      color: $default;
    }
    &__date{
      font: 400 16rem / 18rem $font-family-primary;
      color: $default;
    }
    &__media{
      width: 428rem;
      height: 280rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__link{
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      transition: all ease 300ms;
      transform: rotate3d(0, 1, 0, -180deg);
      visibility: hidden;
      z-index: -1;
      top: 0;
      left: 0;
      background: linear-gradient(45deg, rgba(10,10,10,1) 1%, rgba(135,40,13,1) 25%, rgba(239,66,16,1) 50%, rgba(246,101,59,1) 75%, rgba(252,134,100,1) 100%);
      span{
        position: absolute;
        bottom: 64rem;
        text-transform: uppercase;
        right: 32rem;
        color: $default;
        font: 700 16rem / 24rem $font-family-primary;
        padding-right: 40rem;
        &:after{
          position: absolute;
          content: '';
          right: 0;
          top: 0;
          width: 24rem;
          height: 24rem;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.86874 6.73887H17.2607L17.2603 14.1313' stroke='%230A0A0A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M6.41864 17.5811L17.0425 6.95769' stroke='%230A0A0A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
.link-section{
  padding: 32rem 0;
  text-align: center;
  a{
    text-transform: uppercase;
    color: $default;
    position: relative;
    padding-right: 40rem;
    font: 700 24rem / 32rem $font-family-primary;
    &:after{
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5675 13.7733L12.3406 19.0002L7.11362 13.7726' stroke='%230A0A0A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M12.3403 3.66652L12.34 18.6906' stroke='%230A0A0A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: cover;
      width: 24rem;
      height: 24rem;
    }
    &:hover{
      color: $primary;
      &:after{
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5675 13.7733L12.3406 19.0002L7.11362 13.7726' stroke='%23EF4210' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M12.3403 3.66652L12.34 18.6906' stroke='%23EF4210' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
}
@media screen  and (max-width: 768px){
  .blog{
    padding: 64rem 0 64rem;
    &-top{
      padding: 64rem 0 54rem;
      border-bottom: 1px solid $default;
      flex-direction: column;
      .title-section{
        text-align: right;
        font: 700 40rem / 52rem $font-family-primary;
        span{
          font: 400 64rem / 52rem $font-family-primary;
          color: $primary;
        }
      }
      .text-section{
        font: 700 16rem / 21rem $font-family-primary;
      }
    }
    &-inner{
      width: 100%;
      overflow: auto;
    }
    &-wrap{
      width: 1614rem  ;
    }
    &-item{
      width: 100%;
      max-width: 253rem;
      min-height: 309rem;
      overflow: hidden;
      border-radius: 24rem;
      margin: 0 8rem 16rem;
      &__desc{
        padding: 32rem 16rem;
        min-height: 146rem;
      }
      &__title{
        font: 700 16rem / 21rem $font-family-primary;
      }
      &__date{
        font: 400 12rem / 16rem $font-family-primary;
      }
      &__media{
        width: 253rem;
        height: 163rem;
      }
    }
  }
  .link-section{
    padding: 16rem 0;
    a{
      padding-right: 36rem;
      font: 700 16rem / 32rem $font-family-primary;
      &:after{
        width: 20rem;
        height: 20rem;
      }
    }
  }
}
.post{
  background-color: #f3f3f3;
  .title-section{
    max-width: 576rem;
    font: $font-48;
    color: $default;
    text-align: right;
    margin-bottom: 106rem;
  }
  &-wrap{
    padding: 104rem 0;
  }
  p, h2, h3, h4, h5, h6{
    max-width: 872rem;
    margin: 0 0 31rem  auto;
  }
  .image-full{
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 1760rem;
    max-height: 932rem;
    clip-path: polygon( 0% 11.77%,0% 96.125%,0% 96.125%,0.027% 96.755%,0.104% 97.353%,0.229% 97.909%,0.396% 98.417%,0.601% 98.868%,0.84% 99.254%,1.109% 99.569%,1.404% 99.803%,1.721% 99.949%,2.056% 100%,76.154% 100%,76.154% 100%,76.312% 99.988%,76.469% 99.954%,76.622% 99.898%,76.772% 99.82%,76.919% 99.722%,77.06% 99.602%,77.196% 99.464%,77.327% 99.306%,77.451% 99.129%,77.568% 98.934%,78.638% 96.222%,78.638% 96.222%,78.76% 95.939%,78.895% 95.683%,79.042% 95.453%,79.198% 95.251%,79.364% 95.078%,79.537% 94.934%,79.717% 94.821%,79.902% 94.739%,80.091% 94.689%,80.282% 94.672%,97.944% 94.672%,97.944% 94.672%,98.279% 94.622%,98.596% 94.475%,98.891% 94.241%,99.16% 93.927%,99.399% 93.54%,99.604% 93.089%,99.771% 92.581%,99.896% 92.025%,99.973% 91.428%,100% 90.797%,100% 90.055%,100% 3.875%,100% 3.875%,99.973% 3.245%,99.896% 2.647%,99.771% 2.091%,99.604% 1.583%,99.399% 1.132%,99.16% 0.746%,98.891% 0.431%,98.596% 0.197%,98.279% 0.051%,97.944% 0%,4.797% 0%,4.797% 0%,4.733% 0.006%,4.67% 0.023%,4.608% 0.051%,4.548% 0.089%,4.49% 0.137%,4.435% 0.195%,4.383% 0.263%,4.334% 0.339%,4.289% 0.424%,4.248% 0.517%,0.137% 10.995%,0.137% 10.995%,0.112% 11.064%,0.09% 11.136%,0.07% 11.21%,0.052% 11.286%,0.036% 11.364%,0.024% 11.444%,0.013% 11.524%,0.006% 11.606%,0.002% 11.688%,0% 11.77% );
    margin: 72rem 0;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h2{
    font: $font-48;
  }
}