.deals{
  background-size: cover;
  min-height: 100vh;
  padding: 208rem 0 104rem;
  .title-section{
    margin-bottom: 24rem;
    text-align: right;
  }
  &-wrap{
    display: flex;
    align-items: center;
  }
  &-info{
    margin-left: 80rem;
    width: 100%;
    max-width: 576rem;
    margin-right: 164rem;
  }
  &-slider{
    max-width: 936rem;
    width: 100%;
    .slide{
      border: 0;
      outline: none;
      margin-right: 80rem;
    }
  }
  &-item{
    width: 428rem;
    padding: 104rem 32rem;
    height: 620rem;
    position: relative;
    overflow: hidden;
    clip-path: polygon( 0% 96.125%,0% 3.859%,0% 3.859%,0.062% 3.231%,0.241% 2.637%,0.527% 2.082%,0.911% 1.577%,1.384% 1.128%,1.935% 0.743%,2.555% 0.429%,3.235% 0.196%,3.965% 0.05%,4.736% 0%,62.648% 0%,62.648% 0%,63.013% 0.011%,63.373% 0.046%,63.727% 0.102%,64.072% 0.179%,64.409% 0.277%,64.735% 0.396%,65.049% 0.534%,65.349% 0.692%,65.635% 0.867%,65.904% 1.061%,68.37% 3.763%,68.37% 3.763%,68.652% 4.044%,68.963% 4.3%,69.3% 4.529%,69.661% 4.73%,70.042% 4.902%,70.442% 5.046%,70.856% 5.158%,71.282% 5.24%,71.717% 5.29%,72.159% 5.306%,95.264% 5.306%,95.264% 5.306%,96.035% 5.357%,96.765% 5.503%,97.445% 5.736%,98.065% 6.049%,98.616% 6.434%,99.089% 6.883%,99.473% 7.389%,99.759% 7.943%,99.938% 8.538%,100% 9.166%,100% 9.905%,100% 96.141%,100% 96.141%,99.938% 96.769%,99.759% 97.363%,99.473% 97.917%,99.089% 98.423%,98.616% 98.872%,98.065% 99.257%,97.445% 99.571%,96.765% 99.804%,96.035% 99.95%,95.264% 100%,4.696% 100%,4.696% 100%,3.937% 99.945%,3.215% 99.796%,2.542% 99.56%,1.926% 99.245%,1.379% 98.858%,0.909% 98.408%,0.526% 97.902%,0.24% 97.347%,0.062% 96.752%,0% 96.125% );
    &__logo{
      width: 220rem;
      height: 91rem;
      margin-bottom: 24rem;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__title{
      font: $font-64-regular;
      margin-bottom: 8rem;
    }
    &__subtitle{
      font: $font-main-bold;
      margin-bottom: 16rem;
    }
    &__list{
      font: $font-s-regular;
      li{
        margin-bottom: 20rem;
        max-width: 85%;
      }
    }
    &__bg{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      img{
        width: 100%;
      }
    }
    &.deals-item__primary{
      background-color: $primary;
      color: $white;
    }
    &.deals-item__white{
      background-color: $white;
      color: $default;
    }
  }
}