.header{
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 11;
  background-color: $black-100;
  padding: 24rem 0;
  .container{
    display: flex;
    align-content: center;
  }
  &-logo{
    margin-right: 10rem;
    a{
      width: 208rem;
      height: 42rem;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  &-nav{
    margin: 0 auto;
    background-color: $black-300;
    display: flex;
    align-items: center;
    padding: 4rem 24rem;
    border-radius: 8rem;
    border: 1rem solid  $gray-100;
    ul{
      display: flex;
      align-content: center;
    }
    li{
      font-size: 16rem;
      line-height: 24rem;
      margin-right: 32rem;
      color: $white;
      &.menu-item-has-children{
        position: relative;
        a{
          position: relative;
          padding-right: 24rem;
          &:after{
            position: absolute;
            content: '';
            top: 10rem;
            right: 8rem;
            width: 9rem;
            height: 4rem;
            background-image: url("data:image/svg+xml,%3Csvg width='9' height='4' viewBox='0 0 9 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 4L0.5 0H8.5L4.5 4Z' fill='white'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: cover;
          }
          &:hover{
            &:after{
              transform: rotate(180deg);
              background-image: url("data:image/svg+xml,%3Csvg width='9' height='4' viewBox='0 0 9 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 4L0.5 0H8.5L4.5 4Z' fill='%23EF4210'/%3E%3C/svg%3E%0A");
            }
          }
        }
        &:hover{
          ul{
            opacity: 1;
            visibility: visible;
          }
        }
      }
      ul{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        flex-direction: column;
        background: $default;
        border: 1rem solid #4d4d4d;
        border-radius: 4rem;
        padding: 10rem;

        a{
          padding-left: 0;
          &:after{
            display: none;
          }
        }
      }
    }
    a{
      font-size: 16rem;
      line-height: 24rem;
      color: $white;
      &:hover{
        color: $primary;
      }
    }
  }
  &-info{
    margin-left: 10rem;
    background-color: $black-300;
    display: flex;
    align-items: center;
    padding: 4rem 24rem;
    border-radius: 8rem;
    border: 1rem solid  $gray-100;
    &__telegram{
      margin-left: 48rem;
      display: flex;
      align-items: center;
      color: $primary;
      transition: all ease 200ms;
      img, svg{
        display: inline-block;
        margin-left: 8rem;
        width: 24rem;
        height: 24rem;
      }
      svg{
        fill: $primary;
        transition: all ease 200ms;
        path{
          transition: all ease 200ms;
        }
      }
      &:hover{
        color: $white;
        svg{
          path{
            fill: $white;
          }
        }
      }
    }
  }
  &-link{
    &:last-of-type{
      margin-left: 65rem;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        left: -32rem;
        top: 13rem;
        width: 1rem;
        height: 24rem;
        background: rgba($white, .4);
      }
    }
    a{
      font-size: 16rem;
      line-height: 24rem;
      display: flex;
      align-items: center;
      border-radius: 4rem;
      border: 1rem solid  $gray-100;
      background-color: $black-200;
      padding: 4rem 2rem;
      img{
        width: 48rem;
        height: 40rem;
      }
      span{
        display: inline-block;
        margin: 0 6rem 0 8rem;
      }
      &:hover{
        border-color: $primary;
        color: $white;
      }
    }
  }
  &-info{
    &__login{
      margin-right: 48rem;
      width: 24rem;
      height: 24rem;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        top: 0;
        right: -48rem;
        height: 100%;
        width: 1rem;
        background: $gray-300;
      }
      img, svg{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      svg{
        stroke: $white;
      }
      &:hover{
        svg{
          path{
            stroke: $primary;
          }
        }
      }
    }
  }
  &-btn{
    margin: 0 0 0 auto;
    display: none;
    width: 32rem;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.btn-header{
  background: transparent;
  outline: none;
  width: 100%;
  height: 19rem;
  position: relative;
  &:before, &:after, span{
    position: absolute;
    background: $white;
    transition: all ease 300ms;
    height: 2.65rem;
    border-radius: 1.35rem;
    right: 0;
  }
  &:before, &:after{
    content: '';
  }
  span{
    width: 26.67rem;
    top: 50%;
    margin-top: -1.35rem;
  }
  &:before{
    top: 0;
    width: 18.67rem;
  }
  &:after{
    top: 100%;
    width: 13.33rem;
    margin-top: -2.65rem;
  }
  &.active{
    span{
      opacity: 0;
      width: 0;
    }
    &:before,
    &:after{
      width: 15.33rem;
      top: 50%;
      margin-top: -1.35rem;
    }
    &:before{
      transform: rotate(-135deg);
    }
    &:after{
      transform: rotate(135deg);
    }
  }
}
.header-mobile{
  display: none;
  opacity: 0;
  visibility: hidden;
  left: -100%;
  z-index: -1;
  position: absolute;
  top: 60rem;
  padding: 70rem 15.5rem 0;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 60rem);
  overflow: auto;
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16rem;
    span{
      display: inline-block;
      margin-right: 8rem;
    }
    a{
      font: 700 16rem / 24rem $font-family-primary;
      color: $white;
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 8rem;
      background: rgba($white, .03);
      border: 1rem solid $gray-100;
    }
  }
  &__partner{
    justify-content: flex-end;
    width: 203rem;
    padding: 10rem 6rem;
    img{
      width: 48rem;
      height: 40rem;
    }
  }
  &__login{
    width: 130rem;
    padding: 16rem 24rem;
    img, svg{
      max-width: 24rem;
      max-height: 24rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    svg{
      stroke: $white;
    }
  }
  &__nav{
    position: relative;
    margin-bottom: 28rem;
    border-radius: 8rem;
    background: rgba($white, .03);
    border: 1rem solid $gray-100;
    padding: 32rem 24rem;
  }
  &__list{
    margin-bottom: 46rem;
    text-align: right;
    li{
      margin-bottom: 24rem;
      &:last-of-type{
        margin-bottom: 0;
      }
      ul{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
      }
    }
    a, span{
      color: $white;
      font: 400 24rem / 24rem $font-family-primary;
    }
  }
  &__academy{
    span{
      display: inline-block;
      margin-left: 8rem;
    }
      font: 700 16rem / 24rem $font-family-primary;
      color: $white;
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 8rem;
      background: rgba($white, .03);
      border: 1rem solid $gray-100;
    padding: 8rem;
    img{
      width: 48rem;
      height: 40rem;
    }
  }
  &__social{
    display: flex;
    align-items: center;
    border-radius: 8rem;
    background: rgba($white, .03);
    border: 1rem solid $gray-100;
    padding: 16rem 24rem;
    margin-bottom: 64rem;
    justify-content: space-between;
    position: relative;
    &:before{
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 16rem;
      width: 1rem;
      height: 24rem;
      background: rgba($white, .4);
    }
    a{
      min-width: 113rem;
      justify-content: center;
      font: 700 16rem / 24rem $font-family-primary;
      color: $primary;
      display: flex;
      align-items: center;
      svg{
        display: inline-block;
        margin-left: 8rem;
        path{
          fill: $primary;
        }
      }
    }
  }
  &__bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50rem;
    li{
      margin-right: 31rem;
      margin-bottom: 8rem;
      &:first-of-type{
        position: relative;
        &:before{
          position: absolute;
          content: '';
          right: -16rem;
          top: 0;
          width: 1rem;
          height: 18rem;
          background: rgba($white, .4);
        }
      }
    }
    a{
      font: 400 14rem / 18rem $font-family-primary;
      color: $white;
    }
  }
}
@media screen and (max-width: 768px){
  .header-mobile{
    display: block;
    transition: all ease 300ms;
    &.active{
      opacity: 1;
      visibility: visible;
      left: 0;
      z-index: 5;
    }
  }
  .header{
    padding: 16rem 0;
    &-logo{
      a{
        width: 126rem;
        height: 26rem;
      }
    }
    &-nav, &-info{
      display: none;
    }
    &-btn{
      display: flex;
    }
  }
}