.header{
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 11;
  background-color: $black-100;
  padding: 24rem 0;
  .container{
    display: flex;
    align-content: center;
  }
  &-logo{
    margin-right: 10rem;
    a{
      width: 208rem;
      height: 42rem;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  &-nav{
    margin: 0 auto;
    background-color: $black-300;
    display: flex;
    align-items: center;
    padding: 4rem 24rem;
    border-radius: 8rem;
    border: 1rem solid  $gray-100;
    ul{
      display: flex;
      align-content: center;
    }
    li{
      font-size: 16rem;
      line-height: 24rem;
      margin-right: 32rem;
      color: $white;
      ul{
        display: none;
      }
    }
    a{
      font-size: 16rem;
      line-height: 24rem;
      color: $white;
      &:hover{
        color: $primary;
      }
    }
  }
  &-info{
    margin-left: 10rem;
    background-color: $black-300;
    display: flex;
    align-items: center;
    padding: 4rem 24rem;
    border-radius: 8rem;
    border: 1rem solid  $gray-100;
    &__telegram{
      margin-left: 48rem;
      display: flex;
      align-items: center;
      color: $primary;
      transition: all ease 200ms;
      img, svg{
        display: inline-block;
        margin-left: 8rem;
        width: 24rem;
        height: 24rem;
      }
      svg{
        fill: $primary;
        transition: all ease 200ms;
        path{
          transition: all ease 200ms;
        }
      }
      &:hover{
        color: $white;
        svg{
          path{
            fill: $white;
          }
        }
      }
    }
  }
  &-link{
    &:last-of-type{
      margin-left: 65rem;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        left: -32rem;
        top: 13rem;
        width: 1rem;
        height: 24rem;
        background: rgba($white, .4);
      }
    }
    a{
      font-size: 16rem;
      line-height: 24rem;
      display: flex;
      align-items: center;
      border-radius: 4rem;
      border: 1rem solid  $gray-100;
      background-color: $black-200;
      padding: 4rem 2rem;
      img{
        width: 48rem;
        height: 40rem;
      }
      span{
        display: inline-block;
        margin: 0 6rem 0 8rem;
      }
      &:hover{
        border-color: $primary;
        color: $white;
      }
    }
  }
  &-info{
    &__login{
      margin-right: 48rem;
      width: 24rem;
      height: 24rem;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        top: 0;
        right: -48rem;
        height: 100%;
        width: 1rem;
        background: $gray-300;
      }
      img, svg{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      svg{
        stroke: $white;
      }
      &:hover{
        svg{
          path{
            stroke: $primary;
          }
        }
      }
    }
  }
  &-btn{
    margin: 0 0 0 auto;
    display: none;
    width: 32rem;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.btn-header{
  background: transparent;
  outline: none;
  width: 100%;
  height: 19rem;
  position: relative;
  &:before, &:after, span{
    position: absolute;
    background: $white;
    transition: all ease 300ms;
    height: 2.65rem;
    border-radius: 1.35rem;
    right: 0;
  }
  &:before, &:after{
    content: '';
  }
  span{
    width: 26.67rem;
    top: 50%;
    margin-top: -1.35rem;
  }
  &:before{
    top: 0;
    width: 18.67rem;
  }
  &:after{
    top: 100%;
    width: 13.33rem;
    margin-top: -2.65rem;
  }
  &.active{
    span{
      opacity: 0;
      width: 0;
    }
    &:before,
    &:after{
      width: 15.33rem;
      top: 50%;
      margin-top: -1.35rem;
    }
    &:before{
      transform: rotate(-135deg);
    }
    &:after{
      transform: rotate(135deg);
    }
  }
}
@media screen and (max-width: 768px){
  .header{
    padding: 16rem 0;
    &-logo{
      a{
        width: 126rem;
        height: 26rem;
      }
    }
    &-nav, &-info{
      display: none;
    }
    &-btn{
      display: flex;
    }
  }
}