.hero{
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 190rem 0 140rem;
  &.hero-academy{
    background-image: url('../images/general/hero-academy-bg.jpg');
    .hero{
      color: $white;
      &-title{
        color: $white;
      }
      &-desc__text{
        color: $white;
      }
    }
  }
  &-title{
    max-width: 1179rem;
    text-align: right;
    font: 400 64rem / 100% $font-family-primary;
    color: $default;
    span{
      color: $primary;
      font: 400 96rem / 100% $font-family-primary;
    }
  }
  &-wrap{
    display: flex;
    align-items: flex-end;
  }
  &-desc{
    max-width: 576rem;
    text-align: right;
    &__text{
      font: $font-bold-s;
      margin-bottom: 56rem;
    }
  }
  &-media{
    overflow: hidden;
    position: relative;
    background: #026A80;
    height: 380rem;
    width: 1167.5rem;
    clip-path: polygon( 0% 80.856%,0% 6.303%,0% 6.303%,0.027% 5.277%,0.104% 4.306%,0.229% 3.401%,0.396% 2.575%,0.601% 1.842%,0.84% 1.213%,1.109% 0.701%,1.404% 0.32%,1.721% 0.082%,2.056% 0%,76.154% 0%,76.154% 0%,76.313% 0.019%,76.469% 0.074%,76.622% 0.166%,76.773% 0.292%,76.919% 0.453%,77.06% 0.647%,77.196% 0.872%,77.327% 1.129%,77.451% 1.417%,77.567% 1.733%,78.638% 6.145%,78.638% 6.145%,78.76% 6.605%,78.895% 7.022%,79.042% 7.396%,79.198% 7.724%,79.364% 8.006%,79.537% 8.24%,79.717% 8.424%,79.902% 8.558%,80.091% 8.639%,80.283% 8.666%,97.944% 8.666%,97.944% 8.666%,98.279% 8.748%,98.596% 8.986%,98.891% 9.367%,99.16% 9.879%,99.399% 10.507%,99.604% 11.241%,99.771% 12.067%,99.896% 12.972%,99.973% 13.943%,100% 14.968%,100% 16.176%,100% 93.697%,100% 93.697%,99.973% 94.723%,99.896% 95.694%,99.771% 96.599%,99.604% 97.425%,99.399% 98.158%,99.16% 98.787%,98.891% 99.299%,98.596% 99.68%,98.279% 99.918%,97.944% 100%,4.797% 100%,4.797% 100%,4.733% 99.991%,4.67% 99.963%,4.608% 99.918%,4.548% 99.856%,4.49% 99.777%,4.435% 99.682%,4.383% 99.573%,4.334% 99.449%,4.289% 99.311%,4.248% 99.16%,0.137% 82.117%,0.137% 82.117%,0.112% 82.004%,0.09% 81.887%,0.07% 81.767%,0.052% 81.643%,0.036% 81.516%,0.024% 81.387%,0.013% 81.256%,0.006% 81.123%,0.002% 80.99%,0% 80.856% );
    img, video{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  &-play-btn{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 700 20rem / 24rem $font-family-primary;
    color: $white;
    text-transform: uppercase;
    background-color: rgba($white, .2);
    width: 160rem;
    height: 160rem;
    border-radius: 50%;
    border: 4rem solid $white;
    &:hover{
      color: $primary;
    }
  }
}
.market{
  padding: 50rem 0 70rem;
  background: linear-gradient(135deg, rgba(237,236,236,1) 1%, rgba(240,236,236,1) 100%);
  &-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-desc{
    width: 100%;
    max-width: 758rem;
    position: relative;
    &-icon{
      position: absolute;
      right: -320rem;
      top: 130rem;
      width: 428rem;
      height: 508rem;
      z-index: 3;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  &-title{
    font: 700 48rem / 63rem $font-family-primary;
    color: $default;
    margin-bottom: 48rem;
  }
  &-text{
    max-width: 576rem;
    font: $font-main-regular;
    color: $gray;
    b{
      color: $default;
    }
  }
  &-media{
    position: relative;
    width: 728rem;
    height: 728rem;
    clip-path: polygon( 0.486% 20.612%,0.484% 20.614%,0.481% 20.616%,0.481% 20.616%,0.407% 20.673%,0.339% 20.735%,0.278% 20.803%,0.225% 20.876%,0.178% 20.953%,0.14% 21.033%,0.109% 21.117%,0.087% 21.202%,0.073% 21.29%,0.069% 21.379%,0.069% 97.012%,0.069% 97.012%,0.111% 97.498%,0.233% 97.959%,0.428% 98.388%,0.69% 98.779%,1.012% 99.127%,1.389% 99.425%,1.812% 99.668%,2.276% 99.848%,2.773% 99.961%,3.299% 100%,96.137% 100%,96.77% 100%,96.77% 100%,97.295% 99.961%,97.793% 99.848%,98.257% 99.668%,98.68% 99.425%,99.056% 99.127%,99.379% 98.779%,99.641% 98.388%,99.836% 97.959%,99.958% 97.498%,100% 97.012%,100% 68.357%,100% 3.052%,100% 3.052%,99.958% 2.566%,99.836% 2.105%,99.641% 1.676%,99.379% 1.285%,99.056% 0.937%,98.68% 0.639%,98.257% 0.396%,97.793% 0.215%,97.295% 0.103%,96.77% 0.064%,25.416% 0.064%,25.416% 0.064%,25.351% 0.066%,25.286% 0.072%,25.221% 0.082%,25.157% 0.096%,25.094% 0.114%,25.032% 0.135%,24.971% 0.16%,24.912% 0.188%,24.855% 0.219%,24.799% 0.253%,0.486% 20.612% );
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

  }
}
.trading{
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 247rem 0 130rem;
  .container{
    position: relative;
  }
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }
  &-link{
    width: 100%;
    display: none;
  }
  &-desc{
    max-width: 760rem;
    margin: 0 0 0 auto;
    text-align: right;
    .trading-link{
      display: block;
    }
  }
  &-title{

    margin-bottom: 64rem;
    font: 700 96rem / 100rem $font-family-primary;
    color: $white;
    text-transform: uppercase;
    span{
      color: $white;
      text-transform: none;
      font: 800 64rem / 84rem $font-family-primary;
    }
  }
  &-number{
    position: absolute;
    z-index: 2;
    width: 402rem;
    height: 402rem;
    top: -195rem;
    right: 0;
    left: 420rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    &:after{
      position: absolute;
      content: '';
      width: 402rem;
      height: 402rem;
      z-index: 1;
      background-image: url("data:image/svg+xml,%3Csvg width='402' height='402' viewBox='0 0 402 402' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_201_3055)'%3E%3Cpath d='M90.3917 326.411C84.5761 320.868 79.1513 314.913 74.1859 308.613C69.2205 302.313 64.7796 295.599 60.7328 288.607C52.7728 274.621 46.9221 259.446 43.3957 243.679L42.1165 237.824L41.1679 231.827C40.785 229.83 40.6691 227.826 40.4197 225.825L40.079 222.823L39.9078 221.289L39.9386 219.816L39.5911 213.805L39.5715 213.003L39.5535 212.267L39.5827 210.728L39.5759 207.718L39.5691 204.708L39.6958 201.695C39.7804 199.686 39.8649 197.677 40.0162 195.667C40.6881 187.623 41.9628 179.632 43.7082 171.763C45.5204 163.892 48.0053 156.206 50.8943 148.644C53.8516 141.146 57.4833 133.9 61.4555 126.913L64.6036 121.752C65.698 120.053 66.8609 118.419 67.9553 116.72C69.0498 115.021 70.2811 113.453 71.5107 111.817C72.7404 110.182 73.9032 108.548 75.2029 107.045C76.501 105.474 77.7323 103.906 79.032 102.402L83.0646 97.8888L84.107 96.793L85.1494 95.6973L87.3026 93.571L89.4557 91.4447C90.174 90.7582 90.9591 90.0701 91.6773 89.3836L93.8989 87.3225C94.6172 86.636 95.4022 85.9479 96.1889 85.3266L100.839 81.467C102.412 80.2244 104.054 79.0471 105.694 77.803C106.481 77.1817 107.268 76.5604 108.123 76.0044L110.621 74.3379C113.905 71.9832 117.397 69.958 120.821 67.8675C124.383 65.9743 127.875 63.949 131.576 62.2531L134.283 60.916C135.208 60.492 136.135 60.1349 137.06 59.7109C138.912 58.9298 140.762 58.0818 142.616 57.3676L148.312 55.2884L149.703 54.7861L151.162 54.3491L154.081 53.475L157 52.6009C157.995 52.309 158.925 52.0856 159.92 51.7937C161.846 51.2783 163.838 50.7614 165.765 50.3129L171.682 49.0979L173.145 48.7945L174.609 48.558L177.605 48.0834L180.6 47.6088C181.599 47.4506 182.599 47.3592 183.599 47.2679L189.598 46.6529L195.672 46.3706L197.206 46.2661L198.008 46.2465L198.742 46.2286L201.749 46.2219L204.756 46.2152L206.294 46.2445L207.833 46.3407L213.922 46.66C215.93 46.8115 217.94 47.0299 219.951 47.2483L222.966 47.5759L225.984 48.0372L229.002 48.4985C230.009 48.6746 231.014 48.7838 231.956 49.0283L237.865 50.2216C238.872 50.3976 239.815 50.709 240.823 50.9519L243.781 51.6823L246.741 52.4795L249.637 53.412L252.534 54.3445C253.477 54.6559 254.487 54.9657 255.43 55.2771L261.094 57.346C262.983 58.1024 264.808 58.9274 266.697 59.6839C267.642 60.0621 268.587 60.4404 269.466 60.8871L272.172 62.2256L274.878 63.5642C275.35 63.7533 275.757 64.0109 276.23 64.2L277.583 64.9027L282.933 67.782C286.393 69.9048 289.85 71.8938 293.181 74.2205L295.694 75.8981C296.51 76.4802 297.327 77.0623 298.144 77.7112C299.778 78.9422 301.41 80.1063 302.977 81.3389L307.615 85.172C308.433 85.821 309.117 86.4731 309.87 87.1905L312.124 89.209C318.005 94.6841 323.629 100.567 328.661 106.865C329.967 108.372 331.143 110.015 332.386 111.657C333.563 113.301 334.804 114.876 335.915 116.588C337.024 118.233 338.202 119.943 339.312 121.588L342.446 126.796L343.213 128.115L343.914 129.436L345.382 132.076L346.85 134.715C347.34 135.64 347.695 136.501 348.186 137.425L349.522 140.135C349.945 141.061 350.434 141.919 350.792 142.914L353.134 148.475C353.557 149.401 353.847 150.331 354.206 151.325L355.211 154.177L356.216 157.029L357.09 159.951L357.963 162.872C358.255 163.869 358.545 164.798 358.77 165.796L360.249 171.646C360.541 172.642 360.699 173.642 360.922 174.573L361.53 177.568L362.138 180.563L362.612 183.562L363.086 186.561C363.244 187.56 363.403 188.56 363.494 189.561L364.109 195.566C364.122 196.101 364.2 196.567 364.28 197.1L364.384 198.636L364.524 201.643L364.665 204.649C364.758 205.717 364.647 206.657 364.672 207.659L364.618 213.681C364.534 215.69 364.383 217.7 364.298 219.709L364.105 222.724C363.996 223.73 363.887 224.736 363.777 225.742L363.056 231.78L362.067 237.757C361.891 238.765 361.782 239.771 361.538 240.714L360.875 243.673L360.212 246.632C359.97 247.642 359.792 248.583 359.483 249.594L357.82 255.387C357.698 255.858 357.576 256.329 357.389 256.869L356.889 258.286L355.889 261.12L354.889 263.954C354.578 264.898 354.133 265.845 353.822 266.789L351.621 272.395L349.082 277.875C348.636 278.756 348.258 279.702 347.811 280.582L346.406 283.225L345.001 285.868L344.299 287.223L343.528 288.513L340.449 293.739C339.936 294.621 339.354 295.438 338.84 296.254L337.164 298.77L335.488 301.286L333.677 303.738C332.447 305.373 331.351 307.006 330.053 308.576C325.063 314.919 319.593 320.805 313.851 326.431L313.782 326.366L319.126 320.817L313.851 326.431L313.782 326.366C319.525 320.74 324.859 314.79 329.781 308.382C331.012 306.813 332.173 305.112 333.338 303.546L335.082 301.095L336.691 298.58L338.3 296.066C338.815 295.251 339.395 294.367 339.908 293.485L342.921 288.261L343.691 286.971L344.393 285.616L345.73 282.907L347.067 280.199C347.513 279.319 347.891 278.373 348.337 277.492L350.809 272.014L352.944 266.409C353.322 265.464 353.702 264.585 354.011 263.574L354.944 260.742L355.877 257.909L356.377 256.492C356.499 256.021 356.621 255.55 356.81 255.077L358.406 249.285C358.717 248.341 358.893 247.334 359.07 246.393L359.733 243.433L360.396 240.474C360.638 239.465 360.749 238.525 360.925 237.518L361.849 231.609L362.505 225.639C362.614 224.633 362.723 223.627 362.832 222.621L362.959 219.608C363.044 217.599 363.195 215.589 363.281 213.647L363.268 207.627C363.243 206.624 363.285 205.62 363.261 204.617L363.12 201.61L362.98 198.604L362.877 197.134C362.866 196.667 362.786 196.133 362.708 195.667L362.095 189.729C362.003 188.728 361.845 187.728 361.687 186.729L361.215 183.797L360.742 180.865L360.136 177.937L359.529 175.008C359.305 174.011 359.146 173.011 358.856 172.082L357.379 166.298C357.154 165.3 356.864 164.371 356.507 163.443L355.635 160.588L354.763 157.733L353.76 154.948L352.756 152.163C352.399 151.236 352.109 150.306 351.686 149.38L349.346 143.885C348.989 142.958 348.501 142.1 348.077 141.174L346.741 138.464C346.317 137.538 345.895 136.679 345.405 135.754L343.937 133.114L342.469 130.475L341.769 129.154L341.003 127.902L337.87 122.761C336.761 121.116 335.651 119.471 334.54 117.759C333.431 116.113 332.19 114.538 331.013 112.895C329.839 111.318 328.663 109.675 327.356 108.168C322.392 101.935 316.837 96.1173 310.958 90.7092L308.77 88.689C308.019 88.0385 307.267 87.3211 306.518 86.7374L301.88 82.9042C300.313 81.6716 298.68 80.5075 297.113 79.2749C296.297 78.6928 295.546 78.0423 294.665 77.5287L292.151 75.851C288.887 73.5228 285.43 71.5337 282.039 69.4761L276.756 66.5952L275.469 65.8909C274.995 65.6349 274.59 65.4442 274.117 65.255L271.413 63.9834L268.709 62.7117C267.829 62.2649 266.886 61.9536 265.94 61.5085C264.117 60.7504 262.293 59.9254 260.405 59.2358L254.808 57.1652C253.863 56.787 252.921 56.5425 251.978 56.2311L249.151 55.3638L246.323 54.4965L243.431 53.7645L240.54 53.0325C239.599 52.788 238.589 52.4782 237.649 52.3005L231.806 51.1056C230.864 50.8611 229.859 50.7519 228.853 50.5758L225.901 50.1129L222.95 49.6499L220.001 49.3207C217.993 49.1692 216.048 48.8823 214.039 48.7307L208.084 48.4082L206.612 48.3104L205.074 48.2811L202.067 48.2878L198.853 48.0319L198.119 48.0499L197.384 48.0679L195.917 48.1706L189.909 48.4514L183.977 49.0647C182.977 49.1561 181.977 49.2474 180.978 49.4056L178.05 49.8786L175.121 50.3516L173.657 50.5881L172.194 50.8914L166.343 52.1048C164.416 52.5533 162.491 53.0686 160.566 53.5839C159.569 53.809 158.639 54.0324 157.643 54.3243L154.791 55.1968L151.939 56.0692L150.48 56.5063L149.089 57.0086L143.46 59.0861C141.606 59.8003 139.756 60.6483 137.969 61.3609C137.044 61.7849 136.115 62.0752 135.259 62.5644L132.55 63.8347C128.914 65.4621 125.422 67.4874 121.927 69.3789C118.503 71.4694 115.078 73.4931 111.793 75.7808L109.294 77.4473C108.439 78.0034 107.719 78.623 106.866 79.2459C105.291 80.4216 103.649 81.5989 102.075 82.8414L97.4237 86.6343C96.6371 87.2555 95.9188 87.942 95.2005 88.6285L92.9773 90.6227C92.259 91.3092 91.4723 91.9305 90.7541 92.6169L88.6677 94.7416L86.5813 96.8663L85.5373 97.8952L84.4281 98.9926L80.3938 103.439C79.0941 104.943 77.8628 106.511 76.5648 108.081C75.2651 109.585 74.1022 111.219 72.8725 112.854C71.7081 114.421 70.4784 116.057 69.3823 117.689C68.2862 119.321 67.1234 120.955 66.0289 122.654L62.8792 127.748C58.9054 134.668 55.272 141.847 52.3114 149.211C49.3525 156.641 46.9327 164.259 45.0521 172.065C43.305 179.867 41.9619 187.793 41.2883 195.769C41.137 197.78 41.0525 199.789 40.8996 201.732L40.706 204.747L40.7128 207.757L40.7196 210.767L40.6905 212.306L40.7084 213.042L40.7264 213.777L41.0072 219.79L41.1099 221.259L41.2795 222.727L41.5534 225.73C41.736 227.733 41.9186 229.735 42.2332 231.667L43.1134 237.599L44.2606 243.524C47.585 259.229 53.3005 274.341 61.0618 288.399C64.975 295.393 69.3492 302.109 74.2495 308.478C79.2833 314.843 84.6412 320.799 90.3917 326.411Z' fill='%235C5C5C'/%3E%3Cpath d='M74.1854 308.613C79.1508 314.913 84.5755 320.868 90.3911 326.411C84.6407 320.799 79.2828 314.843 74.2489 308.478C69.3487 302.109 64.9745 295.393 61.0613 288.398C53.3 274.34 47.5845 259.229 44.2601 243.524L43.1128 237.599L42.2327 231.667C41.9181 229.735 41.7355 227.732 41.5529 225.73L41.2789 222.727L41.1094 221.259L41.0066 219.79L40.7259 213.777L40.7079 213.041L40.6899 212.306L40.7191 210.767L40.7123 207.757L40.7055 204.747L40.8991 201.732C41.052 199.788 41.1365 197.78 41.2878 195.769C41.9614 187.793 43.3045 179.867 45.0515 172.064C46.9321 164.259 49.3519 156.641 52.3109 149.211C55.2715 141.847 58.9048 134.668 62.8786 127.748L66.0284 122.654C67.1229 120.955 68.2857 119.321 69.3818 117.689C70.4779 116.056 71.7075 114.421 72.872 112.854C74.1017 111.218 75.2645 109.585 76.5642 108.081C77.8623 106.511 79.0936 104.942 80.3933 103.439L84.4276 98.9922L85.5367 97.8949L86.5808 96.8659L88.6671 94.7413L90.7535 92.6166C91.4718 91.9301 92.2585 91.3089 92.9768 90.6224L95.2 88.6282C95.9183 87.9417 96.6365 87.2552 97.4232 86.6339L102.075 82.8411C103.648 81.5986 105.29 80.4213 106.865 79.2456C107.719 78.6227 108.438 78.0031 109.294 77.447L111.792 75.7805C115.077 73.4927 118.503 71.4691 121.926 69.3786C125.422 67.487 128.914 65.4618 132.549 63.8343L135.258 62.564C136.115 62.0748 137.043 61.7846 137.968 61.3606C139.755 60.648 141.606 59.8 143.459 59.0858L149.088 57.0082L150.479 56.506L151.939 56.0689L154.791 55.1965L157.643 54.324C158.638 54.0321 159.568 53.8087 160.565 53.5836C162.49 53.0683 164.416 52.5529 166.343 52.1045L165.764 50.3125C163.837 50.761 161.845 51.278 159.92 51.7933C158.925 52.0852 157.995 52.3087 156.999 52.6006L154.08 53.4747L151.162 54.3487L149.702 54.7858L148.311 55.2881L142.615 57.3672C140.762 58.0815 138.911 58.9294 137.059 59.7105C136.134 60.1345 135.207 60.4916 134.282 60.9156L131.575 62.2528C127.875 63.9487 124.382 65.974 120.82 67.8672C117.397 69.9576 113.904 71.9829 110.621 74.3375L108.122 76.004C107.267 76.5601 106.48 77.1814 105.694 77.8026C104.054 79.0468 102.412 80.2241 100.838 81.4666L96.1884 85.3263C95.4017 85.9476 94.6167 86.6357 93.8984 87.3222L91.6768 89.3832C90.9585 90.0697 90.1735 90.7578 89.4552 91.4443L87.302 93.5706L85.1489 95.6969L84.1065 96.7927L83.0641 97.8884L79.0314 102.402C77.7317 103.905 76.5005 105.474 75.2024 107.044C73.9027 108.548 72.7398 110.181 71.5102 111.817C70.2805 113.452 69.0492 115.021 67.9548 116.72C66.8604 118.419 65.6975 120.053 64.6031 121.752L61.4549 126.913C57.4828 133.9 53.851 141.146 50.8937 148.643C48.0048 156.206 45.5199 163.892 43.7077 171.763C41.9623 179.632 40.6876 187.623 40.0156 195.666C39.8643 197.677 39.7798 199.686 39.6953 201.695L39.5685 204.708L39.5753 207.718L39.5821 210.728L39.553 212.267L39.571 213.002L39.5906 213.804L39.9381 219.816L39.9073 221.289L40.0785 222.823L40.4192 225.825C40.6686 227.825 40.7844 229.829 41.1674 231.827L42.116 237.824L43.3952 243.679C46.9216 259.446 52.7723 274.621 60.7323 288.607C64.7791 295.599 69.22 302.313 74.1854 308.613Z' fill='white'/%3E%3Ccircle cx='89' cy='325' r='2' fill='white'/%3E%3Ccircle cx='315' cy='325' r='2' fill='white'/%3E%3Ccircle cx='165' cy='51' r='4' fill='white'/%3E%3Crect width='1' height='159.297' transform='translate(165.378 52.6621) rotate(-14.3385)' fill='white'/%3E%3C/g%3E%3Cg filter='url(%23filter0_f_201_3055)'%3E%3Ccircle cx='201' cy='201' r='81' fill='white'/%3E%3C/g%3E%3Ccircle cx='201.003' cy='201' r='100' fill='url(%23paint0_radial_201_3055)'/%3E%3Cdefs%3E%3Cfilter id='filter0_f_201_3055' x='0' y='0' width='402' height='402' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_201_3055'/%3E%3C/filter%3E%3CradialGradient id='paint0_radial_201_3055' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(201.003 201) rotate(90) scale(100)'%3E%3Cstop stop-color='%23353434'/%3E%3Cstop offset='0.78' stop-color='%230A0A0A'/%3E%3C/radialGradient%3E%3CclipPath id='clip0_201_3055'%3E%3Crect width='325' height='283' fill='white' transform='translate(39 46)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: cover;
    }
    span{
      position: relative;
      z-index: 3;
    }
    &__title{
      width: 100%;
      font: 700 96rem / 84rem $font-family-primary;
      color: $secondary;
      b{
        font: 700 64rem / 84rem $font-family-primary;
      }
    }
    &__text{
      font: $font-main-bold;
      color: $white;
    }
  }
  &-info{
    margin: 0 auto;
    width: 428rem;
    height: 524rem;
    padding: 88rem 24rem 33rem 24rem;
    background: $primary;
    font: $font-main-bold;
    clip-path: polygon( 0.001% 95.671%,0.001% 4.311%,0.001% 4.311%,0.063% 3.61%,0.241% 2.945%,0.528% 2.326%,0.912% 1.762%,1.384% 1.26%,1.936% 0.829%,2.556% 0.48%,3.236% 0.219%,3.966% 0.056%,4.736% 0%,62.648% 0%,62.648% 0%,63.013% 0.013%,63.373% 0.051%,63.727% 0.113%,64.073% 0.2%,64.409% 0.31%,64.735% 0.442%,65.049% 0.597%,65.349% 0.773%,65.635% 0.969%,65.904% 1.186%,68.371% 4.203%,68.371% 4.203%,68.652% 4.518%,68.963% 4.804%,69.301% 5.059%,69.661% 5.284%,70.043% 5.477%,70.442% 5.636%,70.856% 5.763%,71.282% 5.854%,71.717% 5.909%,72.159% 5.928%,95.265% 5.928%,95.265% 5.928%,96.035% 5.984%,96.765% 6.147%,97.445% 6.408%,98.065% 6.757%,98.616% 7.188%,99.089% 7.689%,99.473% 8.254%,99.759% 8.873%,99.938% 9.538%,100% 10.239%,100% 11.065%,100% 95.689%,100% 95.689%,99.938% 96.39%,99.759% 97.055%,99.473% 97.674%,99.089% 98.238%,98.616% 98.74%,98.065% 99.171%,97.445% 99.52%,96.765% 99.781%,96.035% 99.944%,95.265% 100%,4.697% 100%,4.697% 100%,3.937% 99.939%,3.216% 99.772%,2.543% 99.509%,1.927% 99.156%,1.38% 98.725%,0.909% 98.222%,0.527% 97.656%,0.241% 97.037%,0.062% 96.372%,0.001% 95.671% );
    p{
      font: 700 24rem/31rem $font-family-primary;
      margin-bottom: 24rem;
    }
  }
}
.advantages{
  padding: 120rem 0 50rem;
  background: $primary;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    margin: -50rem auto 0;
    background-image: url("data:image/svg+xml,%3Csvg width='1728' height='313' viewBox='0 0 1728 313' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_142_24006)'%3E%3Cpath d='M40.7429 199.044C12.1245 134.354 57.881 61.2138 128.572 58.652L864 32L1599.43 58.652C1670.12 61.2138 1715.88 134.354 1687.26 199.044L1677.34 221.457C1661.33 257.654 1625.47 281 1585.89 281H142.109C102.528 281 66.672 257.654 50.6586 221.457L40.7429 199.044Z' fill='%23EF4210'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_142_24006' x='0.0927734' y='0' width='1727.81' height='313' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='16' result='effect1_foregroundBlur_142_24006'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: cover;
    width: 1766rem;
    height: 249rem;
    z-index: -1;
  }
  &-title{
    font: 700 64rem / 84rem $font-family-primary;
    color: $default;
    border-bottom: 1rem solid $default;
    margin-bottom: 106rem;
    padding-bottom: 15rem;
  }
  &-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  &-item{
    width: 25%;
    margin: 0 0 80rem;
    &__media{
      padding: 24rem;
      z-index: 1;
      border-radius: 24rem;
      margin-bottom: 24rem;
      width: 128rem;
      height: 128rem;
      position: relative;
      &:after, &:before{
        position: absolute;
        content: '';
        border-radius: inherit;
      }
      &:after{
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(-45deg, rgba(198,198,198,1) 1%, rgba(45,45,45,1) 100%);
        z-index: -2;
      }
      &:before{
        left: 1rem;
        top: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        background: $default;
        z-index: -1;
      }
      img{
        width: 80rem;
        height: 80rem;
      }
    }
    &__title{
      font: $font-main-bold;
      color: $default;
    }
  }
}
.telegram-info{
  padding: 132rem 0 57rem;
  background: $default;
  &-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-media{
    max-width: 764rem;
    height: 543.5rem;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &-desc{
    max-width: 872rem;
  }
  &-top{
    width: 872rem;
    height: 260rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40rem 48rem;
    margin-bottom: 32rem;
    position: relative;
    z-index: 1;
    clip-path: polygon( 0.057% 90.973%,0.057% 28.006%,0.057% 28.006%,0.059% 27.824%,0.065% 27.642%,0.074% 27.46%,0.087% 27.281%,0.103% 27.104%,0.122% 26.929%,0.145% 26.759%,0.17% 26.593%,0.199% 26.431%,0.23% 26.276%,0.23% 26.276%,0.23% 26.276%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.274%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.789% 1.137%,5.845% 0.949%,5.906% 0.778%,5.972% 0.628%,6.041% 0.499%,6.114% 0.391%,6.189% 0.306%,6.266% 0.243%,6.345% 0.206%,6.426% 0.193%,97.303% 0.193%,97.303% 0.193%,97.742% 0.31%,98.158% 0.651%,98.545% 1.197%,98.898% 1.93%,99.212% 2.83%,99.481% 3.881%,99.7% 5.064%,99.863% 6.36%,99.965% 7.752%,100% 9.22%,100% 76.528%,100% 78.295%,100% 78.295%,99.965% 79.763%,99.863% 81.155%,99.7% 82.451%,99.481% 83.633%,99.212% 84.684%,98.898% 85.585%,98.545% 86.318%,98.158% 86.864%,97.742% 87.204%,97.303% 87.322%,73.643% 87.322%,73.643% 87.322%,73.381% 87.363%,73.123% 87.484%,72.87% 87.683%,72.624% 87.958%,72.387% 88.307%,72.161% 88.728%,71.947% 89.219%,71.746% 89.777%,71.562% 90.401%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,69.963% 97.529%,69.963% 97.529%,69.81% 97.98%,69.647% 98.39%,69.477% 98.756%,69.298% 99.078%,69.113% 99.354%,68.922% 99.583%,68.725% 99.763%,68.524% 99.894%,68.32% 99.973%,68.112% 100%,2.754% 100%,2.754% 100%,2.315% 99.882%,1.9% 99.541%,1.512% 98.996%,1.159% 98.263%,0.845% 97.362%,0.576% 96.311%,0.357% 95.129%,0.194% 93.832%,0.093% 92.441%,0.057% 90.973% );
    &:before, &:after{
      position: absolute;
      content: '';
      clip-path: inherit;
    }
    &:before{
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(239,66,16,1) 1%, rgba(244,106,66,1) 25%, rgba(251,172,149,1) 75%, rgba(255,218,207,1) 100%);
      z-index: -2;
    }
    &:after{
      left: 1rem;
      top: 1rem;
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      background: $default;
      z-index: -1;
    }
  }
  &-icon{
    width: 48rem;
    height: 48rem;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &-title{
    font: 700 48rem / 63rem $font-family-primary;
    color: $primary;
    max-width: 600rem;
    text-align: right;

  }
  &-subtitle{
    font: 700 24rem / 31rem $font-family-primary;
    color: $white;
    width: 100%;
    max-width: 700rem;
  }
  &-text{
    font: 400 24rem / 31rem $font-family-primary;
    color: $gray;
  }
}
.work{
  padding: 72rem 0 72rem;
  background: linear-gradient(135deg, rgba(237,236,236,1) 1%, rgba(240,236,236,1) 100%);
  &-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  &-link{
    display: none;
  }
  &-desc{
    width: 100%;
    max-width: 758rem;
    position: relative;
    .work-link{
      display: block;
      width: 100%;
    }
    &-icon{
      position: absolute;
      right: -320rem;
      top: 130rem;
      width: 428rem;
      height: 508rem;
      z-index: 3;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }

  &-title{
    font: 700 48rem / 63rem $font-family-primary;
    color: $primary;
    margin-bottom: 8rem;
    span{
      font: 400 88rem / 100rem $font-family-primary;
      color: $default;
    }
  }
  &-subtitle{
    font: 400 24rem / 31rem $font-family-primary;
    color: $gray;
    margin-bottom: 48rem;
  }
  &-text{
    max-width: 576rem;
    font: $font-main-regular;
    color: $gray;
    margin-bottom: 56rem;
    b{
      color: $default;
    }
  }
  &-media{
    position: relative;
    width: 728rem;
    height: 728rem;
    clip-path: polygon( 0.486% 20.612%,0.484% 20.614%,0.481% 20.616%,0.481% 20.616%,0.407% 20.673%,0.339% 20.735%,0.278% 20.803%,0.225% 20.876%,0.178% 20.953%,0.14% 21.033%,0.109% 21.117%,0.087% 21.202%,0.073% 21.29%,0.069% 21.379%,0.069% 97.012%,0.069% 97.012%,0.111% 97.498%,0.233% 97.959%,0.428% 98.388%,0.69% 98.779%,1.012% 99.127%,1.389% 99.425%,1.812% 99.668%,2.276% 99.848%,2.773% 99.961%,3.299% 100%,96.137% 100%,96.77% 100%,96.77% 100%,97.295% 99.961%,97.793% 99.848%,98.257% 99.668%,98.68% 99.425%,99.056% 99.127%,99.379% 98.779%,99.641% 98.388%,99.836% 97.959%,99.958% 97.498%,100% 97.012%,100% 68.357%,100% 3.052%,100% 3.052%,99.958% 2.566%,99.836% 2.105%,99.641% 1.676%,99.379% 1.285%,99.056% 0.937%,98.68% 0.639%,98.257% 0.396%,97.793% 0.215%,97.295% 0.103%,96.77% 0.064%,25.416% 0.064%,25.416% 0.064%,25.351% 0.066%,25.286% 0.072%,25.221% 0.082%,25.157% 0.096%,25.094% 0.114%,25.032% 0.135%,24.971% 0.16%,24.912% 0.188%,24.855% 0.219%,24.799% 0.253%,0.486% 20.612% );
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

  }
}
.why{
  padding: 0 0 144rem;
  background: $default;
  &-wrap{
    padding: 100rem 70rem 100rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 50rem;
    z-index: 2;
    .bg{
      top: 0;
      right: 0;
      border-radius: inherit;
      position: absolute;
      z-index: -2;
      width: 100%;
      height: 100%;
      background: linear-gradient(-180deg, rgba(51,16,6,1) 1%, rgba(118,39,16,1) 25%, rgba(239,66,16,1) 50%, rgba(251,172,149,1) 75%, rgba(255,218,207,1) 100%);
    }
    &:before{
      background-color: $default;
      content: '';
      position: absolute;
      border-radius: inherit;
      left: 1rem;
      right: 1rem;
      top: 1rem;
      bottom: 1rem;
      z-index: -1;
    }
    &:after{
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -40rem;
      margin: 0 auto;
      background-image: url("data:image/svg+xml,%3Csvg width='1728' height='313' viewBox='0 0 1728 313' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_142_23986)'%3E%3Cpath d='M1687.26 113.956C1715.88 178.646 1670.12 251.786 1599.43 254.348L864 281L128.572 254.348C57.881 251.786 12.1245 178.646 40.7428 113.956L50.6586 91.5425C66.672 55.3455 102.528 31.9999 142.109 31.9999L1585.89 32C1625.47 32 1661.33 55.3456 1677.34 91.5426L1687.26 113.956Z' fill='%23EF4210'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_142_23986' x='0.0927734' y='-0.00012207' width='1727.81' height='313' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='16' result='effect1_foregroundBlur_142_23986'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: cover;
      width: 1596rem;
      height: 289rem;
      z-index: -3;
    }
  }
  &-media{
    width: 100%;
    max-width: 598.3rem;
    height: 554.4rem;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &-desc{
    max-width: 948rem;
    width: 100%;
    padding-left: 70rem;
  }
  &-title{
    font: 700 48rem / 63rem $font-family-primary;
    color: $white;
    margin-bottom: 32rem;
    span{
      display: block;
      font: 400 88rem / 88rem $font-family-primary;
      color: $primary;
    }
  }
  &-text{
    b{
      color: $white;
      display: block;
      margin-bottom: 24rem;
    }
    font: $font-main-regular;
    color: $gray-400;
  }
}
@media screen and (max-width: 768px){
  .hero{
    padding: 190rem 0 64rem;
    &-title{
      font: 400 24rem / 31rem $font-family-primary;
      color: $default;
      span{
        color: $primary;
        font: 400 48rem / 48rem $font-family-primary;
      }
    }
    &-wrap{
      flex-wrap: wrap;
    }
    &-desc{
      max-width: 100%;
      &__text{
        font: $font-main-bold-m;
        margin-bottom: 40rem;
      }
    }
    &-play-btn{
      font: 700 14rem / 24rem $font-family-primary;
      width: 80rem;
      height: 80rem;
    }
  }
  .hero-media{
    height: 154rem;
    margin-bottom: 40rem;
  }
  .market{
    padding: 64rem 0 66rem;
    &-desc{
      &-icon{
        top: calc(100% + 103rem);
        right: auto;
        left: 0;
        width: 164rem;
        height: 195rem;
      }
    }
    &-title{
      font: $font-64-bold-m;
      margin-bottom: 32rem;
    }
    &-text{
      font: $font-main-regular-m;
    }
    &-media{
      width: 253rem;
      height: 274rem;
      margin: 47rem 0 0 auto;
    }
  }
  .trading{
    padding: 56rem 0 44rem;
    &-title{
      margin-bottom: 123rem;
      font: 700 40rem / 52rem $font-family-primary;
      span{
        font: 800 32rem / 42rem $font-family-primary;
      }
    }
    &-desc{
      .trading-link{
        display: none;
      }
    }
    &-number{
      width: 183rem;
      height: 161.94rem;
      top: 100rem;
      left: 0;
      right: auto;
      &:after{
        width: 183rem;
        height: 161.94rem;
      }
      &__title{
        margin-top: 10rem;
        font: 700 48rem / 48rem $font-family-primary;
        b{
          font: 700 32rem / 32rem $font-family-primary;
        }
      }
      &__text{
        font: 700 16rem / 16rem $font-family-primary;
      }
    }
    &-info{
      margin: 0 auto 24rem;
      width: 343rem;
      height: 401rem;
      padding: 64rem 24rem 33rem 24rem;
      p{
        font: 700 16rem/21rem $font-family-primary;
        margin-bottom: 21rem;
      }
    }
    &-link{
      display: block;
    }
  }
  .advantages{
    padding: 104rem 0 50rem;
    &:before{
      margin: -50rem auto 0;
      background-image: url("data:image/svg+xml,%3Csvg width='1728' height='313' viewBox='0 0 1728 313' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_142_24006)'%3E%3Cpath d='M40.7429 199.044C12.1245 134.354 57.881 61.2138 128.572 58.652L864 32L1599.43 58.652C1670.12 61.2138 1715.88 134.354 1687.26 199.044L1677.34 221.457C1661.33 257.654 1625.47 281 1585.89 281H142.109C102.528 281 66.672 257.654 50.6586 221.457L40.7429 199.044Z' fill='%23EF4210'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_142_24006' x='0.0927734' y='0' width='1727.81' height='313' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='16' result='effect1_foregroundBlur_142_24006'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: cover;
      width: 100%;
      height: 249rem;
    }
    &-title{
      font: 700 40rem / 52rem $font-family-primary;
      margin-bottom: 40rem;
      padding-bottom: 24rem;
    }
    &-wrap{
      display: flex;
      flex-wrap: wrap;
    }
    &-item{
      width: 50%;
      margin: 0 0 80rem;
      &__media{
        width: 104rem;
        height: 104rem;
        img{
          width: 56rem;
          height: 56rem;
        }
      }
      &__title{
        font: 700 16rem / 16rem $font-family-primary;
      }
    }
  }
  .telegram-info{
    padding: 64rem 0 48rem;
    &-wrap{
      flex-direction: column-reverse;
    }
    &-media{
      max-width: 343rem;
      height: 244rem;
    }
    &-desc{
      max-width: 343rem;
    }
    &-top{
      width: 343rem;
      height: 158rem;
      padding: 25rem 8rem;
      margin-bottom: 36rem;
      position: relative;
      z-index: 1;
      clip-path: polygon( 0.057% 90.973%,0.057% 28.006%,0.057% 28.006%,0.059% 27.824%,0.065% 27.642%,0.074% 27.46%,0.087% 27.281%,0.103% 27.104%,0.122% 26.929%,0.145% 26.759%,0.17% 26.593%,0.199% 26.431%,0.23% 26.276%,0.23% 26.276%,0.23% 26.276%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.275%,0.23% 26.274%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.737% 1.345%,5.789% 1.137%,5.845% 0.949%,5.906% 0.778%,5.972% 0.628%,6.041% 0.499%,6.114% 0.391%,6.189% 0.306%,6.266% 0.243%,6.345% 0.206%,6.426% 0.193%,97.303% 0.193%,97.303% 0.193%,97.742% 0.31%,98.158% 0.651%,98.545% 1.197%,98.898% 1.93%,99.212% 2.83%,99.481% 3.881%,99.7% 5.064%,99.863% 6.36%,99.965% 7.752%,100% 9.22%,100% 76.528%,100% 78.295%,100% 78.295%,99.965% 79.763%,99.863% 81.155%,99.7% 82.451%,99.481% 83.633%,99.212% 84.684%,98.898% 85.585%,98.545% 86.318%,98.158% 86.864%,97.742% 87.204%,97.303% 87.322%,73.643% 87.322%,73.643% 87.322%,73.381% 87.363%,73.123% 87.484%,72.87% 87.683%,72.624% 87.958%,72.387% 88.307%,72.161% 88.728%,71.947% 89.219%,71.746% 89.777%,71.562% 90.401%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,71.394% 91.088%,69.963% 97.529%,69.963% 97.529%,69.81% 97.98%,69.647% 98.39%,69.477% 98.756%,69.298% 99.078%,69.113% 99.354%,68.922% 99.583%,68.725% 99.763%,68.524% 99.894%,68.32% 99.973%,68.112% 100%,2.754% 100%,2.754% 100%,2.315% 99.882%,1.9% 99.541%,1.512% 98.996%,1.159% 98.263%,0.845% 97.362%,0.576% 96.311%,0.357% 95.129%,0.194% 93.832%,0.093% 92.441%,0.057% 90.973% );
    }
    &-icon{
      width: 26rem;
      height: 26rem;
    }
    &-title{
      font: 700 24rem / 21rem $font-family-primary;
    }
    &-subtitle{
      font: 700 16rem / 21rem $font-family-primary;
      color: $white;
      width: 100%;
      max-width: 700rem;
    }
    &-text{
      font: 400 16rem / 21rem $font-family-primary;
      color: $gray;
      margin-bottom: 36rem;
    }
  }
  .work{
    padding: 72rem 0 72rem;
    &-desc{
      .work-link{
        display: none;
      }
      &-icon{
        position: absolute;
        right: auto;
        left: 0;
        top: calc(100% + 20rem);
        width: 202rem;
        height: 221rem;
      }
    }
    &-title{
      font: 700 21rem / 23rem $font-family-primary;
      margin-bottom: 16rem;
      span{
        font: 400 48rem / 48rem $font-family-primary;
      }
    }
    &-subtitle{
      font: 400 16rem / 21rem $font-family-primary;
      margin-bottom: 24rem;
    }
    &-text{
      margin-bottom: 56rem;
      font: 400 16rem / 21rem $font-family-primary;
      b{
        color: $default;
      }
    }
    &-media{
      width: 253rem;
      height: 274rem;
      margin: 0 0 48rem auto;
    }
    &-link{
      display: block;
    }
  }
  .why{
    padding: 194rem 0 60rem;
    background: $default;
    &-wrap{
      position: relative;
      padding: 32rem 7rem 64rem;
      border-radius:0 0 50rem 50rem;
      z-index: 2;
      .bg{
        top: 0;
        right: 0;
        border-radius: inherit;
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(198,198,198,1) 1%, rgba(10,10,10,0.1) 100%);
      }
      &:before{
        top: 0;
      }
      &:after{
        bottom: -10rem;
        width: 317rem;
        height: 78rem;
        background-size: contain;
        background-position: bottom;
      }
    }
    &-media{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      max-width: 311rem;
      height: 288rem;
      z-index: -1;
    }
    &-desc{
      max-width: 948rem;
      width: 100%;
      padding-left: 0;
    }
    &-title{
      font: 700 24rem / 31rem $font-family-primary;
      color: $white;
      margin-bottom: 40rem;
      span{
        display: block;
        font: 400 48rem / 48rem $font-family-primary;
        color: $primary;
      }
    }
    &-text{
      b{
        margin-bottom: 21rem;
      }
      font: 400 16rem / 21rem $font-family-primary;
    }
  }
}