.popup{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  left: -150%;
  visibility: hidden;
  transition: all ease 300ms;
  z-index: 12;
  text-align: center;
  &.active{
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  &-close{
    position: absolute;
    right: -56rem;
    top: -32rem;
    cursor: pointer;
    &:hover{
      svg{
        path{
          fill: $primary;
        }
      }
    }
  }
  &-wrap{
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
  }
  &-inner{
    width: 100%;
    max-width: 1167.5rem;
    max-height: 540rem;
    background-color: $primary;
    clip-path: polygon( 0% 13.472%,0% 95.565%,0% 95.565%,0.027% 96.286%,0.104% 96.97%,0.229% 97.607%,0.396% 98.188%,0.601% 98.704%,0.84% 99.147%,1.109% 99.507%,1.404% 99.775%,1.721% 99.942%,2.056% 100%,76.154% 100%,76.154% 100%,76.313% 99.987%,76.469% 99.948%,76.622% 99.883%,76.773% 99.794%,76.919% 99.681%,77.06% 99.545%,77.196% 99.386%,77.327% 99.205%,77.451% 99.003%,77.567% 98.78%,78.638% 95.676%,78.638% 95.676%,78.76% 95.352%,78.895% 95.058%,79.042% 94.795%,79.198% 94.564%,79.364% 94.366%,79.537% 94.202%,79.717% 94.072%,79.902% 93.978%,80.091% 93.921%,80.283% 93.902%,97.944% 93.902%,97.944% 93.902%,98.279% 93.844%,98.596% 93.676%,98.891% 93.408%,99.16% 93.048%,99.399% 92.606%,99.604% 92.09%,99.771% 91.509%,99.896% 90.872%,99.973% 90.188%,100% 89.467%,100% 88.616%,100% 4.435%,100% 4.435%,99.973% 3.714%,99.896% 3.03%,99.771% 2.393%,99.604% 1.812%,99.399% 1.296%,99.16% 0.853%,98.891% 0.493%,98.596% 0.225%,98.279% 0.058%,97.944% 0%,4.797% 0%,4.797% 0%,4.733% 0.007%,4.67% 0.026%,4.608% 0.058%,4.548% 0.102%,4.49% 0.157%,4.435% 0.224%,4.383% 0.301%,4.334% 0.388%,4.289% 0.485%,4.248% 0.591%,0.137% 12.585%,0.137% 12.585%,0.112% 12.664%,0.09% 12.746%,0.07% 12.831%,0.052% 12.918%,0.036% 13.007%,0.024% 13.098%,0.013% 13.19%,0.006% 13.284%,0.002% 13.377%,0% 13.472% );
  }

  &-overlay{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, .6);
  }
}

.popup-messenger{
  &__wrap{
    display: flex;
    justify-content: center;
    column-gap: 32rem;
    padding: 61rem 15rem 88rem;
  }
  &__item{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 349rem;
    height: 214rem;
    background-color: $default;
    padding: 16rem;
    clip-path: polygon( 0.143% 93.892%,0.143% 6.316%,0.143% 6.316%,0.192% 5.327%,0.333% 4.389%,0.558% 3.516%,0.861% 2.719%,1.233% 2.011%,1.667% 1.405%,2.156% 0.911%,2.691% 0.544%,3.266% 0.314%,3.873% 0.235%,69.597% 0.235%,69.597% 0.235%,69.884% 0.253%,70.166% 0.306%,70.443% 0.393%,70.714% 0.514%,70.978% 0.668%,71.234% 0.853%,71.481% 1.069%,71.716% 1.315%,71.941% 1.59%,72.152% 1.893%,74.162% 6.297%,74.162% 6.297%,74.162% 6.297%,74.162% 6.297%,74.162% 6.297%,74.162% 6.297%,74.162% 6.297%,74.162% 6.297%,74.162% 6.297%,74.162% 6.298%,74.162% 6.298%,74.162% 6.298%,74.162% 6.298%,74.401% 6.776%,74.665% 7.21%,74.951% 7.599%,75.257% 7.94%,75.581% 8.233%,75.919% 8.476%,76.27% 8.667%,76.632% 8.806%,77.001% 8.89%,77.375% 8.919%,96.271% 8.919%,96.271% 8.919%,96.878% 8.998%,97.452% 9.228%,97.988% 9.595%,98.476% 10.089%,98.911% 10.695%,99.283% 11.403%,99.585% 12.2%,99.811% 13.073%,99.951% 14.011%,100% 15%,100% 16.21%,100% 93.919%,100% 93.919%,99.951% 94.908%,99.811% 95.845%,99.585% 96.719%,99.283% 97.515%,98.911% 98.223%,98.476% 98.83%,97.988% 99.323%,97.452% 99.691%,96.878% 99.921%,96.271% 100%,3.842% 100%,3.842% 100%,3.841% 100%,3.841% 100%,3.841% 100%,3.841% 100%,3.841% 100%,3.841% 100%,3.841% 100%,3.841% 100%,3.841% 100%,3.841% 100%,3.841% 100%,3.243% 99.914%,2.675% 99.679%,2.145% 99.306%,1.66% 98.81%,1.229% 98.201%,0.859% 97.491%,0.558% 96.693%,0.333% 95.819%,0.192% 94.882%,0.143% 93.892% );
    &:hover{
      .popup-messenger__media{
        border-color: $primary;
        svg{
          path{
            fill: $primary;
          }
        }
      }
      .popup-messenger__title{
        color: $primary;
      }
    }
  }
  &__media{
    width: 48rem;
    height: 48rem;
    border: 2rem solid $white;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $black-400;
  }
  &__title{
    display: block;
    width: 100%;
    font: $font-64-regular;
    color: $white;
    margin-top: 19rem;
    text-align: left;
  }
}
