body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14rem;
  font-family: $font-family-primary;
  color: $default;
  background-color: $white;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
  &.is-scroll{
    overflow: hidden;
  }
}
h1, h2, h3, h4, h5, h6{
  font-family: $font-family-primary;
}
//h1 {
//  font-size: 38px;
//  line-height: 38px;
//  color: $default;
//}
//
//h2 {
//  font-size: 32px;
//  line-height: 32px;
//  color: $default;
//}
//
//h3 {
//  font-size: 18px;
//  line-height: 26px;
//  color: $default;
//}
//
//h4 {
//  font-size: 16px;
//  line-height: 28px;
//  color: $default;
//}
//
//h5 {
//  font-size: 16px;
//  line-height: 26px;
//  color: $default;
//}
//
//h6 {
//  font-size: 14px;
//  line-height: 21px;
//  color: $default;
//}

p {
  font: $font-bold-s;
  margin-bottom: 31rem;
}

img {
  display: block;
  font-size: 12px;
  line-height: 14px;
}

section {
  position: relative;
  padding: 40px 0;
  z-index: 1;
}

.section {
  position: relative;
  padding: 100px 0;
}

.row.min {
  margin-left: -5px;
  margin-right: -5px;
}

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}
.wysiwyg{
  font-size: 16px;
  line-height: 24px;
  color: $default;
  p{
    font-size: 16px;
    line-height: 24px;
    color: $default;
    margin-bottom: 16px;
  }
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn-primary{
  width: 100%;
  max-width: 428rem;
  padding: 23rem 4rem;
  font: 700 16rem / 24rem $font-family-primary;
  color: $white;
  background: $primary;
  border-radius: 50rem;
  border: 1rem solid $primary;
  text-align: center;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 16rem;
  position: relative;
  overflow: hidden;
  transition: all ease 300ms;
  img, svg{
    width: 24rem;
    height: 24rem;
  }
  svg{
    fill: $white;
  }
  .circle{
    position: absolute;
    background: $white;
    opacity: .6;
    width: 0;
    height: 0;
    border-radius: 50%;
    &.active{
      width: 60rem;
      height: 60rem;
    }
    &.desplode-circle{
      width: 0;
      height: 0;
    }
  }
}
.btn-secondary{
  width: 100%;
  max-width: 428rem;
  padding: 23rem 4rem;
  font: 700 16rem / 24rem $font-family-primary;
  color: $default;
  background: $white;
  border-radius: 50rem;
  border: 1rem solid $white;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  .circle{
    position: absolute;
    background: $default;
    opacity: .6;
    width: 0;
    height: 0;
    border-radius: 50%;
    &.active{
      width: 60rem;
      height: 60rem;
    }
    &.desplode-circle{
      width: 0;
      height: 0;
    }
  }
}
.preload{
 position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  left: 0;
  z-index: 100;
  background: $default;
  &-logo{
    width: 412rem;
    height: 381.79rem;
    margin-bottom: 88rem;
    overflow: hidden;
    ul{
      li{
        display: flex;flex-wrap: wrap;
        font: $font-main-regular;
        color: $primary;
        span{
          display: inline-block;
          width: auto;
          min-width: 27rem;
        }
        &:nth-child(1){
          height: 186.79rem;
          clip-path: polygon( 49.242% 46.663%,0% 0.031%,0% 45.023%,60.59% 99.887%,60.59% 81.506%,100% 45.797%,100% 0%,49.242% 46.663% );
        }
        &:nth-child(2){
          height: 265.2rem;
          clip-path: polygon( 43.59% 63.964%,65.865% 76.755%,65.865% 99.749%,43.59% 99.749%,43.59% 63.964%,81.439% 47.061%,76.08% 43.972%,76.064% 43.972%,65.865% 38.12%,43.59% 25.307%,0% 0.225%,0% 0.399%,0.031% 28.005%,10.749% 34.161%,10.749% 99.923%,29.161% 99.923%,29.161% 44.755%,43.605% 53.065%,43.605% 53.087%,65.881% 65.878%,65.881% 65.9%,80.797% 74.471%,81.454% 74.841%,81.454% 99.771%,99.867% 99.771%,99.867% 11.058%,81.454% 19.608%,81.454% 47.061%,81.439% 47.061% );
          transform: translate(0, -70rem);
        }
      }
    }
  }
  .spinner {
    width: 45.2rem;
    height: 45.2rem;
    position: relative;
    display: inline-block;
    &-wrap{
      margin: 64rem 0 0;
      display: flex;
      align-items: center;
    }
    &-title{
      font: $font-main-bold;
      color: $primary;
      margin-right: 16rem;
    }
  }

  .spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .spinner .spinner-blade {
    position: absolute;
    left: 21rem;
    top: 32rem;
    width: 3.8rem;
    height: 10.8rem;
    border-radius: 0.5rem;
    background-color: transparent;
    transform-origin: center -10rem;
    animation: spinner-fade9234 1s infinite linear;
  }

  .spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  .spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  .spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
  }

  .spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
  }

  .spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
  }

  .spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
  }

  .spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
  }

  .spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
  }

  @keyframes spinner-fade9234 {
    0% {
      background-color: $primary;
    }

    100% {
      background-color: rgba($primary, .1);
    }
  }
}
.bread-crumbs{
  padding: 24rem 41rem;
  ul{
    display: flex;
    align-items: center;
  }
  li{
    &:first-of-type{
      a{
        padding-left: 40rem;
        position: relative;
        &:before{
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6303 6.73862H7.23828L7.23876 14.1311' stroke='%230A0A0A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M18.0809 17.5811L7.45703 6.95769' stroke='%230A0A0A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 24rem;
          height: 24rem;
          transition: all ease 300ms;
        }
        &:hover{
          &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6303 6.73862H7.23828L7.23876 14.1311' stroke='%23EF4210' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M18.0809 17.5811L7.45703 6.95769' stroke='%23EF4210' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }
  a{
    font: $font-main-regular-m;
    color: $default;
    &:hover{
      color: $primary;

    }
  }
}
.sample-page{
  padding: 120rem 0;
  .woocommerce{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .woocommerce-MyAccount-content{
    width: 100%;
    max-width: 1300rem;
  }
}
.woocommerce-MyAccount-content-inner{
  border-radius: 40rem;
  padding: 48rem 24rem;
  z-index: 2;
  position: relative;
  &:before,
  &:after{
    position: absolute;
    content: '';
    border-radius: inherit;
  }
  &:before{
    background: $white;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    z-index: -1;
  }
  &:after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(45,45,45,1) 0%, rgba(198,198,198,1) 100%);
    z-index: -2;
  }
}
.woocommerce-MyAccount-navigation{
  border-radius: 40rem;
  padding: 48rem 16rem 32rem;
  max-width: 428rem;
  width: 100%;
  z-index: 2;
  position: relative;
  &:before,
  &:after{
    position: absolute;
    content: '';
    border-radius: inherit;
  }
  &:before{
    background: $white;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    z-index: -1;
  }
  &:after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(45,45,45,1) 0%, rgba(198,198,198,1) 100%);
    z-index: -2;
  }
  li{
    margin-bottom: 48rem;
    &.is-active{
      a{
        font: 700 24rem / 24rem $font-family-primary;
        &:hover{
          color: $default;
        }
      }
    }
    &:last-of-type{
      margin-bottom: 32rem;
      a{
        color: $gray;
        &:hover{
          color: $default;
        }
      }
    }
    a{
      color: $default;
      font: 400 24rem / 24rem $font-family-primary;
      &:hover{
        color: $primary;
      }
    }
  }
}
.nav-top__info{
  font: $font-main-regular;
  color: $gray;
  padding-bottom: 16rem;
  margin-bottom: 56rem;
  border-bottom: 1rem solid $gray;
}
.nav-bottom__info{
  position: relative;
  .wrap {
    max-width: 396rem;
    height: 140rem;
    background: #F3F3F3;
    margin: auto;
    clip-path: polygon( 0% 13.568%,0% 86.489%,0% 86.489%,0.062% 88.686%,0.241% 90.769%,0.527% 92.709%,0.911% 94.479%,1.384% 96.052%,1.935% 97.4%,2.555% 98.497%,3.235% 99.314%,3.965% 99.824%,4.736% 100%,62.648% 100%,62.648% 100%,63.013% 99.96%,63.373% 99.841%,63.727% 99.644%,64.072% 99.373%,64.409% 99.029%,64.735% 98.614%,65.049% 98.13%,65.349% 97.579%,65.635% 96.963%,65.904% 96.284%,68.37% 86.826%,68.37% 86.826%,68.652% 85.841%,68.963% 84.946%,69.3% 84.144%,69.661% 83.44%,70.042% 82.836%,70.442% 82.335%,70.856% 81.94%,71.282% 81.654%,71.717% 81.48%,72.159% 81.421%,95.264% 81.421%,95.264% 81.421%,96.035% 81.245%,96.765% 80.735%,97.445% 79.918%,98.065% 78.822%,98.616% 77.474%,99.089% 75.901%,99.473% 74.131%,99.759% 72.19%,99.938% 70.108%,100% 67.91%,100% 65.32%,100% 35.651%,100% 35.651%,99.988% 34.755%,99.951% 33.869%,99.89% 32.998%,99.805% 32.145%,99.698% 31.315%,99.568% 30.51%,99.417% 29.735%,99.244% 28.994%,99.05% 28.29%,98.836% 27.626%,90.39% 3.404%,90.39% 3.404%,90.155% 2.779%,89.904% 2.213%,89.639% 1.708%,89.361% 1.265%,89.073% 0.885%,88.775% 0.571%,88.469% 0.324%,88.155% 0.145%,87.837% 0.037%,87.514% 0%,4.696% 0%,4.696% 0%,3.937% 0.191%,3.215% 0.714%,2.542% 1.54%,1.926% 2.644%,1.379% 3.997%,0.909% 5.574%,0.526% 7.346%,0.24% 9.287%,0.062% 11.37%,0% 13.568% );
  }
  &-media{
    position: absolute;
    z-index: 3;
    left: 85rem;
    bottom: 0;
    margin: 0 auto;
    width: 151rem;
    height: 171rem;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 10rem;
    background: $primary;
    padding: 5rem 0;
    transform: rotate(-20deg);
    left: -20%;
    width: 140%;
    top: 25%;
  }
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $default;
    font: 700 24rem / 24rem $font-family-primary;
  }
  .marquee {
    animation: scroll 20s linear infinite;
  }
  .reverce {
    animation-direction: reverse;
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
}
.woocommerce-MyAccount-navigation-link--customer-logout{
  padding-top: 48rem;
  border-top: 1rem solid $gray;
}
.woocommerce-MyAccount-content-inner{
  .form-login{
    .as-details{
      .btn-secondary{
        width: 100%;
        max-width: 428rem;
        padding: 23rem 4rem;
        font: 700 16rem / 24rem Lufga;
        border-radius: 50rem;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        color: $white;
        border: 1rem solid $default;
        background: $default;
        &:hover{
          color: $default;
          background: $white;
        }
      }
    }
  }
}
.woocommerce-form-coupon-toggle{
  display: none !important;
}
.checkout-page{
  background: linear-gradient(-135deg, rgba(237,236,236,1) 0%, rgba(240,236,236,1) 100%);
  .title-section{
    text-align: center;
    color: $default;
    text-transform: capitalize;
    margin-bottom: 80rem;
  }
  .checkout-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 16rem;
  }
  .checkout-info{
    width: 100%;
    max-width: 872rem;
    height: 542rem;
    background-color: $white;
    clip-path: polygon( 0% 13.883%,0% 95.429%,0% 95.429%,0.036% 96.173%,0.14% 96.877%,0.307% 97.534%,0.531% 98.132%,0.806% 98.665%,1.127% 99.121%,1.488% 99.491%,1.884% 99.768%,2.309% 99.94%,2.758% 100%,68.007% 100%,68.007% 100%,68.22% 99.986%,68.43% 99.946%,68.636% 99.88%,68.837% 99.788%,69.033% 99.671%,69.223% 99.531%,69.406% 99.367%,69.581% 99.181%,69.747% 98.973%,69.904% 98.743%,71.34% 95.544%,71.34% 95.544%,71.504% 95.21%,71.685% 94.907%,71.882% 94.637%,72.092% 94.398%,72.314% 94.194%,72.546% 94.024%,72.787% 93.891%,73.036% 93.794%,73.289% 93.735%,73.546% 93.715%,97.242% 93.715%,97.242% 93.715%,97.691% 93.656%,98.116% 93.483%,98.512% 93.207%,98.873% 92.836%,99.194% 92.38%,99.469% 91.848%,99.693% 91.249%,99.86% 90.593%,99.964% 89.888%,100% 89.145%,100% 88.269%,100% 4.571%,100% 4.571%,99.964% 3.827%,99.86% 3.123%,99.693% 2.466%,99.469% 1.868%,99.194% 1.335%,98.873% 0.879%,98.512% 0.509%,98.116% 0.232%,97.691% 0.06%,97.242% 0%,6.435% 0%,6.435% 0%,6.35% 0.007%,6.265% 0.027%,6.182% 0.06%,6.102% 0.105%,6.024% 0.162%,5.95% 0.23%,5.88% 0.31%,5.815% 0.4%,5.755% 0.5%,5.7% 0.609%,0.184% 12.969%,0.184% 12.969%,0.151% 13.051%,0.121% 13.135%,0.093% 13.223%,0.07% 13.313%,0.049% 13.405%,0.032% 13.498%,0.018% 13.593%,0.008% 13.689%,0.002% 13.786%,0% 13.883% );

  }
  .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{
    float: left;
    width: 100%;
  }
  .checkout-order{
    width: 100%;
    max-width: 428rem;
    height: 542rem;
    padding: 56rem 24rem;
    background-color: $primary;
    clip-path: polygon( 0% 95.415%,0% 4.566%,0% 4.566%,0.062% 3.824%,0.241% 3.12%,0.527% 2.464%,0.911% 1.866%,1.384% 1.334%,1.935% 0.879%,2.555% 0.508%,3.235% 0.232%,3.965% 0.06%,4.736% 0%,62.648% 0%,62.648% 0%,63.013% 0.014%,63.373% 0.054%,63.727% 0.12%,64.072% 0.212%,64.409% 0.328%,64.735% 0.468%,65.049% 0.632%,65.349% 0.818%,65.635% 1.026%,65.904% 1.256%,68.37% 4.452%,68.37% 4.452%,68.652% 4.785%,68.963% 5.088%,69.3% 5.358%,69.661% 5.596%,70.042% 5.801%,70.442% 5.97%,70.856% 6.103%,71.282% 6.2%,71.717% 6.259%,72.159% 6.279%,95.264% 6.279%,95.264% 6.279%,96.035% 6.338%,96.765% 6.511%,97.445% 6.787%,98.065% 7.157%,98.616% 7.613%,99.089% 8.144%,99.473% 8.743%,99.759% 9.398%,99.938% 10.102%,100% 10.845%,100% 11.72%,100% 95.434%,100% 95.434%,99.938% 96.177%,99.759% 96.88%,99.473% 97.536%,99.089% 98.134%,98.616% 98.666%,98.065% 99.121%,97.445% 99.492%,96.765% 99.768%,96.035% 99.94%,95.264% 100%,4.696% 100%,4.696% 100%,3.937% 99.935%,3.215% 99.759%,2.542% 99.479%,1.926% 99.107%,1.379% 98.649%,0.909% 98.116%,0.526% 97.517%,0.24% 96.861%,0.062% 96.157%,0% 95.415% );
    h3{
      font: $font-main-bold;
      color: $default;
      width: 100%;
      display: block;
      padding-bottom: 16rem;
      margin-bottom: 40rem;
      border-bottom: 1rem solid $default;
    }

  }
  .woocommerce table.shop_table{
    border: 0;
    border-radius: 0;
    border-bottom: 1rem solid $default;
    color: $default;
    border-spacing: 0;
    outline: none;
    td, th{
      border-bottom: 1rem solid #fff;
    }
    th{
      font: $font-main-regular-m;
      &.product-name{
        color: $white;
      }
    }
    .cart-subtotal{
      font: $font-main-regular-m;
      th{
        color: $white;
      }
    }
    .order-total{
      font: $font-main-bold;
      th{
        font: $font-main-bold;
        color: $white;
        border-bottom: 0;
      }
      td{
        border-bottom: 0;
      }
    }
  }
  .order-pay{
    width: 100%;
    height: 526rem;
    max-width: 1316rem;
    background-color: $white;
    clip-path: polygon( 0% 4.568%,0% 95.451%,0% 95.451%,0.02% 96.191%,0.078% 96.892%,0.171% 97.545%,0.296% 98.141%,0.45% 98.671%,0.629% 99.125%,0.831% 99.494%,1.052% 99.769%,1.29% 99.941%,1.54% 100%,73.87% 100%,73.87% 100%,73.989% 99.986%,74.106% 99.946%,74.221% 99.88%,74.334% 99.789%,74.443% 99.673%,74.549% 99.533%,74.651% 99.37%,74.749% 99.185%,74.842% 98.978%,74.929% 98.749%,75.731% 95.565%,75.731% 95.565%,75.823% 95.233%,75.924% 94.932%,76.034% 94.662%,76.151% 94.425%,76.275% 94.221%,76.405% 94.053%,76.54% 93.92%,76.678% 93.823%,76.82% 93.765%,76.964% 93.745%,98.46% 93.745%,98.46% 93.745%,98.71% 93.686%,98.948% 93.514%,99.169% 93.239%,99.371% 92.87%,99.55% 92.416%,99.704% 91.887%,99.829% 91.291%,99.922% 90.637%,99.98% 89.936%,100% 89.196%,100% 88.325%,100% 4.549%,100% 4.549%,99.98% 3.809%,99.922% 3.108%,99.829% 2.455%,99.704% 1.859%,99.55% 1.329%,99.371% 0.875%,99.169% 0.506%,98.948% 0.231%,98.71% 0.059%,98.46% 0%,1.527% 0%,1.527% 0%,1.28% 0.064%,1.046% 0.24%,0.827% 0.519%,0.627% 0.89%,0.448% 1.346%,0.296% 1.876%,0.171% 2.473%,0.078% 3.127%,0.02% 3.828%,0% 4.568% );
  }
  .woocommerce-billing-fields{
    padding: 56rem 24rem;
    clip-path: polygon( 0% 13.883%,0% 95.429%,0% 95.429%,0.036% 96.173%,0.14% 96.877%,0.307% 97.534%,0.531% 98.132%,0.806% 98.665%,1.127% 99.121%,1.488% 99.491%,1.884% 99.768%,2.309% 99.94%,2.758% 100%,68.007% 100%,68.007% 100%,68.22% 99.986%,68.43% 99.946%,68.636% 99.88%,68.837% 99.788%,69.033% 99.671%,69.223% 99.531%,69.406% 99.367%,69.581% 99.181%,69.747% 98.973%,69.904% 98.743%,71.34% 95.544%,71.34% 95.544%,71.504% 95.21%,71.685% 94.907%,71.882% 94.637%,72.092% 94.398%,72.314% 94.194%,72.546% 94.024%,72.787% 93.891%,73.036% 93.794%,73.289% 93.735%,73.546% 93.715%,97.242% 93.715%,97.242% 93.715%,97.691% 93.656%,98.116% 93.483%,98.512% 93.207%,98.873% 92.836%,99.194% 92.38%,99.469% 91.848%,99.693% 91.249%,99.86% 90.593%,99.964% 89.888%,100% 89.145%,100% 88.269%,100% 4.571%,100% 4.571%,99.964% 3.827%,99.86% 3.123%,99.693% 2.466%,99.469% 1.868%,99.194% 1.335%,98.873% 0.879%,98.512% 0.509%,98.116% 0.232%,97.691% 0.06%,97.242% 0%,6.435% 0%,6.435% 0%,6.35% 0.007%,6.265% 0.027%,6.182% 0.06%,6.102% 0.105%,6.024% 0.162%,5.95% 0.23%,5.88% 0.31%,5.815% 0.4%,5.755% 0.5%,5.7% 0.609%,0.184% 12.969%,0.184% 12.969%,0.151% 13.051%,0.121% 13.135%,0.093% 13.223%,0.07% 13.313%,0.049% 13.405%,0.032% 13.498%,0.018% 13.593%,0.008% 13.689%,0.002% 13.786%,0% 13.883% );
    h3{
      font: $font-main-bold;
      color: $default;
      width: 100%;
      display: block;
      padding-bottom: 16rem;
      margin-bottom: 40rem;
      border-bottom: 1rem solid $default;
    }
  }
  .woocommerce-billing-fields__field-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p{
      width: calc(50% - 20rem);
      span{
        display: block;
        font: 400 12rem / 16rem $font-family-primary;
      }
      &.form-row-first{
        width: calc(50% - 20rem);
      }
      &.form-row-last{
        width: calc(50% - 20rem);
      }
      &.form-row-wide{
        width: calc(100% - 20rem);
      }
    }
  }

  label{
    display: block;
    position: relative;
    width: 100%;
    color: $default;
    font: 400 12rem / 16rem $font-family-primary;
    span{
      display: block;
      margin-bottom: 2rem;
      i{
        color: #FF1616;
      }
    }
  }
  input, select{
    padding: 6rem 0 8rem;
    color: $default;
    font: 400 16rem / 21rem $font-family-primary;
    width: 100%;
    outline: none;
    background: transparent;
    border: 0;
    border-bottom: 1rem solid $default;
  }
}
.edit-account{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  p{
    width: calc(33.333% - 20rem);
    span{
      display: block;
      font: 400 12rem / 16rem $font-family-primary;
    }
  }
  label{
    display: block;
    position: relative;
    width: 100%;
    color: $default;
    font: 400 12rem / 16rem $font-family-primary;
    span{
      display: block;
      margin-bottom: 2rem;
      i{
        color: #FF1616;
      }
    }
  }
  input{
    padding: 6rem 0 8rem;
    color: $default;
    font: 400 16rem / 21rem $font-family-primary;
    width: 100%;
    outline: none;
    background: transparent;
    border: 0;
    border-bottom: 1rem solid $default;
  }
}