* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  height: 100vh; }
  body.scroll {
    overflow: hidden; }

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

html,
body {
  height: 100%;
  font-size: 8px; }
  @media screen and (min-width: 992px) {
    html,
    body {
      font-size: 8px; } }
  @media screen and (min-width: 1200px) {
    html,
    body {
      font-size: 10px; } }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    max-width: 100%; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

.wrapper {
  display: flex;
  flex-direction: column; }

section.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.footer {
  flex: 0 0 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    flex-direction: column; } }

@-moz-document url-prefix() {
  .wrapper {
    height: auto; }
  html,
  body {
    height: auto; }
  input[type=number] {
    padding: 5px !important; } }

.flex {
  display: flex;
  flex-wrap: wrap; }

ul {
  padding: 0;
  list-style: none; }

button {
  cursor: pointer;
  border: 0;
  outline: none; }

a {
  display: inline-block;
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #1F1C1C;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden; }
  body.is-scroll {
    overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto"; }

h1 {
  font-size: 42px;
  line-height: 42px;
  color: #1F1C1C; }

h2 {
  font-size: 42px;
  line-height: 42px;
  color: #1F1C1C; }

h3 {
  font-size: 18px;
  line-height: 26px;
  color: #1F1C1C; }

h4 {
  font-size: 16px;
  line-height: 28px;
  color: #1F1C1C; }

h5 {
  font-size: 16px;
  line-height: 26px;
  color: #1F1C1C; }

h6 {
  font-size: 14px;
  line-height: 21px;
  color: #1F1C1C; }

p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 3rem; }

img {
  display: block;
  font-size: 12px;
  line-height: 14px; }

section {
  position: relative;
  padding: 40px 0;
  z-index: 1; }

.section {
  position: relative;
  padding: 100px 0; }

.row.min {
  margin-left: -5px;
  margin-right: -5px; }

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

.overflow {
  overflow: hidden !important; }

.hidden {
  display: none !important; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.icon {
  width: 20px;
  height: 20px; }

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease; }

button {
  cursor: pointer; }

.wysiwyg {
  font-size: 16px;
  line-height: 24px;
  color: #1F1C1C; }
  .wysiwyg p {
    font-size: 16px;
    line-height: 24px;
    color: #1F1C1C;
    margin-bottom: 16px; }

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.title-section {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  color: #182528;
  margin-bottom: 4rem; }

.input, .textarea {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #182528;
  padding: 2rem 2rem; }
  .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
    color: #67696D; }
  .input::-moz-placeholder, .textarea::-moz-placeholder {
    color: #67696D; }
  .input:-moz-placeholder, .textarea:-moz-placeholder {
    color: #67696D; }
  .input::-ms-input-placeholder, .textarea::-ms-input-placeholder {
    color: #67696D; }
  .input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
    color: #67696D; }
  .input:focus, .input:active, .textarea:focus, .textarea:active {
    border-color: #007756; }

.btn-primary {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  background: #007756;
  color: #ffffff;
  border-radius: 2px;
  padding: 2rem; }
  .btn-primary:hover {
    background: rgba(0, 119, 86, 0.8); }

.sitemap-nav ol {
  counter-reset: my-counter;
  list-style: none; }

.sitemap-nav li {
  margin-bottom: 2rem;
  counter-increment: my-counter; }
  .sitemap-nav li:before {
    position: relative;
    content: counter(my-counter);
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #007756; }

.sitemap-nav a {
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #007756;
  text-decoration: underline; }
  .sitemap-nav a:hover {
    text-decoration: none; }

.header {
  position: absolute;
  width: 100%;
  top: 0;
  font-family: "Roboto";
  z-index: 9;
  padding: 2.7rem 0 2rem;
  transition: all ease .6s; }
  .header.scroll-nav {
    position: fixed;
    top: 0;
    opacity: 1;
    background: #1E3438; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .container ul {
      display: flex; }
  .header-logo {
    width: 12.6rem;
    height: 6.5rem; }
    .header-logo a {
      display: inline-block;
      width: 100%;
      height: 100%; }
    .header-logo .icon {
      width: 100%;
      height: 100%;
      fill: #ffffff; }
  .header-nav li {
    margin: 0 2rem; }
  .header-nav a {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #ffffff; }
  .header .header-social__phone {
    display: block;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1;
    margin-bottom: .5rem; }
  .header .header-social__email {
    display: block;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1; }
  .header .header-social a {
    color: #ffffff; }
    .header .header-social a:hover {
      color: rgba(255, 255, 255, 0.8); }
  .header-lang ul {
    display: flex;
    flex-direction: row; }
  .header-lang li {
    position: relative; }
    .header-lang li:last-of-type:after {
      display: none; }
    .header-lang li:after {
      position: relative;
      content: '|';
      font-size: 16px;
      line-height: 1;
      margin: 0 1rem;
      color: #ffffff; }
  .header-lang a {
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    color: #507980; }
    .header-lang a.active {
      color: #ffffff; }
    .header-lang a:hover {
      color: #ffffff; }
  .header-main {
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(13, 36, 39, 0.8);
    overflow: hidden; }
    .header-main:after {
      transform: rotate(90deg);
      position: absolute;
      content: '';
      opacity: .2;
      width: 133.4rem;
      height: 48.9rem;
      top: 76rem;
      left: -21rem;
      z-index: 2;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1334' height='489' viewBox='0 0 1334 489' fill='none'%3E%3Crect opacity='0.2' x='340' y='170' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' x='514' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' x='1184' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' x='162' y='339' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' y='170' width='150' height='150' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain; }
    .header-main .container {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
      margin: 0; }
      .header-main .container ul {
        flex-direction: column; }
      .header-main .container a {
        color: #ffffff;
        font-weight: 300;
        font-size: 1.04vw;
        line-height: 1; }
    .header-main .header-lang {
      margin-bottom: 1.04vw; }
      .header-main .header-lang ul {
        display: flex;
        flex-direction: row; }
      .header-main .header-lang li {
        position: relative; }
        .header-main .header-lang li:last-of-type:after {
          display: none; }
        .header-main .header-lang li:after {
          position: relative;
          content: '|';
          font-size: 1.04vw;
          line-height: 1;
          margin: 0 0.52vw;
          color: #ffffff; }
      .header-main .header-lang a {
        font-weight: bold;
        font-size: 1.04vw;
        line-height: 1;
        color: #507980; }
        .header-main .header-lang a.active {
          color: #ffffff; }
        .header-main .header-lang a:hover {
          color: #ffffff; }
    .header-main .header-social {
      margin-bottom: 5.21vw; }
      .header-main .header-social__phone {
        display: block;
        font-weight: bold;
        font-size: 0.94vw;
        line-height: 1;
        margin-bottom: 1.04vw; }
      .header-main .header-social__email {
        display: block;
        font-weight: 300;
        font-size: 0.83vw;
        line-height: 1; }
      .header-main .header-social a:hover {
        color: rgba(255, 255, 255, 0.8); }
    .header-main .header-nav li {
      margin: 0 0 2.08vw 0; }
    .header-main .header-nav a {
      font-size: 1.04vw;
      line-height: 1;
      position: relative; }
      .header-main .header-nav a:before {
        transition: all ease .2s;
        position: absolute;
        content: '';
        width: 0.52vw;
        height: 0.05vw;
        opacity: 0;
        left: 0;
        top: 50%;
        margin-top: -0.05vw;
        background: #ffffff; }
      .header-main .header-nav a:hover {
        padding-left: 1.3vw; }
        .header-main .header-nav a:hover:before {
          opacity: 1;
          width: 0.78vw; }
    .header-main .header-logo {
      width: 11.35vw;
      height: 5.89vw;
      position: fixed;
      top: 1.04vw;
      left: 19.53vw; }
      .header-main .header-logo .icon {
        fill: #2C5A62; }
  .header-button {
    display: none;
    width: 5rem;
    height: 5rem; }
    .header-button button {
      width: 5rem;
      height: 5rem;
      box-sizing: border-box;
      background: #ffffff;
      border-radius: 2px;
      position: relative;
      overflow: hidden; }
      .header-button button:before, .header-button button:after, .header-button button span {
        left: 10px;
        right: 10px;
        width: 20px;
        position: absolute;
        background: #2C5A62;
        border-radius: 2px;
        height: 2px; }
      .header-button button:before, .header-button button:after {
        content: '';
        transition: all ease 400ms; }
      .header-button button:before {
        top: 10px; }
      .header-button button span {
        display: block;
        transition: all ease 500ms;
        top: calc(50% - 2px); }
      .header-button button:after {
        top: calc(100% - 12px); }
      .header-button button.active:before, .header-button button.active:after {
        width: 27px;
        left: 7px;
        top: calc(50% - 2px); }
      .header-button button.active:before {
        transform: rotate(-45deg); }
      .header-button button.active:after {
        transform: rotate(225deg); }
      .header-button button.active span {
        left: auto;
        opacity: 0;
        right: -5px; }
  .header-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #1E3438;
    z-index: -9;
    visibility: hidden;
    transition: all ease 300ms; }
  .header.is-open .header-overlay {
    left: 0;
    z-index: 2;
    opacity: 1;
    visibility: visible; }
  .header.is-open .container {
    position: relative;
    z-index: 3;
    height: 100%; }
    .header.is-open .container .header-nav {
      top: 14.2rem;
      left: 3rem;
      z-index: 3; }
    .header.is-open .container .header-social {
      left: 3rem;
      z-index: 3; }

.footer {
  background: #1E3438;
  padding: 1.7rem 0; }
  .footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer-logo {
    width: 12.6rem;
    height: 6.5rem; }
    .footer-logo a {
      display: inline-block;
      width: 100%;
      height: 100%; }
    .footer-logo .icon {
      width: 100%;
      height: 100%;
      fill: #ffffff; }
  .footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
  .footer-nav li {
    margin: 0 2rem; }
    .footer-nav li:last-of-type {
      margin-right: 0; }
  .footer-nav a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #ffffff; }
    .footer-nav a:hover {
      color: rgba(255, 255, 255, 0.6); }

.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  left: -150%;
  visibility: hidden;
  transition: all ease 300ms;
  z-index: 12;
  text-align: center; }
  .popup.active {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible; }
  .popup-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }

.hero-wrapper {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0; }
  .hero-wrapper:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -15rem;
    left: 0;
    z-index: 2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1334' height='489' viewBox='0 0 1334 489' fill='none'%3E%3Crect opacity='0.2' x='340' y='170' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' x='514' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' x='1184' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' x='162' y='339' width='150' height='150' fill='white'/%3E%3Crect opacity='0.2' y='170' width='150' height='150' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain; }

.hero-slider {
  position: relative;
  height: 100%;
  width: 100%; }
  .hero-slider .slick-list, .hero-slider .slick-track {
    height: 100%; }
  .hero-slider__media {
    width: 100%;
    height: 100%;
    position: relative; }
    .hero-slider__media:before {
      position: absolute;
      content: '';
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.61%, rgba(0, 0, 0, 0.4) 85.7%); }
    .hero-slider__media img {
      width: 100%;
      height: calc(100% - 3.28vw);
      object-fit: cover; }
  .hero-slider__desc {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: calc(100% - 14.32vw);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 45.31vw;
    margin: 0 auto;
    left: 19.53vw; }
  .hero-slider__title {
    font-weight: 900;
    font-size: 4.17vw;
    line-height: 5.21vw;
    color: #ffffff;
    -webkit-text-stroke: 0.26vw #1E3438; }
  .hero-slider__author {
    font-weight: 300;
    font-size: 2.08vw;
    line-height: .8;
    text-align: right;
    width: auto;
    display: inline-block;
    margin: 0 0 0 auto;
    color: #ffffff;
    position: relative;
    top: 0; }
    .hero-slider__author:before {
      position: absolute;
      content: '';
      left: -5rem;
      top: 50%;
      margin-top: -1px;
      width: 3rem;
      height: 1px;
      background: #ffffff; }
  .hero-slider__info {
    z-index: 3;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #1E3438;
    height: 15.63vw;
    padding: 2.6vw 0 2.45vw 19.53vw; }
  .hero-slider__text {
    font-family: "Roboto";
    max-width: 46.88vw;
    font-weight: 300;
    font-size: 1.04vw;
    line-height: 1.77vw;
    color: #ffffff; }

.nav-hero__slider {
  position: absolute;
  display: flex;
  z-index: 10;
  bottom: 3.13vw;
  right: 23.44vw; }
  .nav-hero__slider .prev-slide,
  .nav-hero__slider .next-slide {
    cursor: pointer;
    position: relative; }
    .nav-hero__slider .prev-slide:before,
    .nav-hero__slider .next-slide:before {
      position: absolute;
      content: '';
      width: 2.6vw;
      height: 2.6vw;
      top: 50%;
      margin-top: -1.35vw;
      border-radius: 50%;
      border: 0.05vw solid #ffffff;
      opacity: 0;
      transition: all ease .2s; }
    .nav-hero__slider .prev-slide:hover:before,
    .nav-hero__slider .next-slide:hover:before {
      opacity: 1; }
  .nav-hero__slider .prev-slide {
    margin-right: 1.04vw; }
    .nav-hero__slider .prev-slide:before {
      left: -1.09vw; }
  .nav-hero__slider .next-slide:before {
    right: -1.09vw; }
  .nav-hero__slider .icon {
    width: 2.08vw;
    height: 2.08vw;
    fill: #ffffff;
    stroke: #ffffff; }

.page-top {
  width: 100%;
  background-color: rgba(30, 52, 56, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 13rem 0 8rem;
  position: relative;
  overflow: hidden; }
  .page-top:before, .page-top:after {
    position: absolute;
    content: '';
    width: 15rem;
    height: 15rem;
    background: rgba(255, 255, 255, 0.05); }
  .page-top:before {
    right: 22.5rem;
    bottom: 11rem; }
  .page-top:after {
    right: 5.5rem;
    bottom: -6rem; }

.bread-crumbs {
  margin-bottom: 4rem; }
  .bread-crumbs ul {
    display: flex;
    align-items: center; }
  .bread-crumbs li {
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-right: 3.2rem;
    position: relative; }
    .bread-crumbs li:after {
      position: absolute;
      content: '';
      right: -2.2rem;
      top: 50%;
      margin-top: -.6rem;
      width: 1.2rem;
      height: 1.2rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cg %3E%3Cpath d='M11.8082 6.46625L7.47457 10.8C7.35086 10.9237 7.18599 10.9916 7.01019 10.9916C6.83419 10.9916 6.66941 10.9236 6.5457 10.8L6.15224 10.4064C6.02863 10.2829 5.96054 10.1179 5.96054 9.94202C5.96054 9.76622 6.02863 9.59569 6.15224 9.47217L8.68041 6.93844H0.648287C0.286144 6.93844 0 6.65493 0 6.29269V5.7363C0 5.37406 0.286144 5.06197 0.648287 5.06197H8.7091L6.15234 2.51409C6.02873 2.39038 5.96063 2.22989 5.96063 2.05399C5.96063 1.87829 6.02873 1.71546 6.15234 1.59185L6.5458 1.19956C6.6695 1.07585 6.83428 1.00844 7.01028 1.00844C7.18609 1.00844 7.35096 1.07673 7.47467 1.20044L11.8083 5.53406C11.9323 5.65816 12.0005 5.82381 12 5.99991C12.0004 6.17659 11.9323 6.34235 11.8082 6.46625Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .6; }
    .bread-crumbs li:hover a {
      color: #ffffff; }
    .bread-crumbs li:last-of-type {
      margin-right: 0; }
      .bread-crumbs li:last-of-type:after {
        display: none; }
  .bread-crumbs a {
    font-size: 1.6rem;
    line-height: 1.9rem;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6); }
    .bread-crumbs a .icon {
      width: 1.3rem;
      height: 1.3rem;
      fill: #ffffff;
      margin-right: .8rem; }

.title-page {
  font-weight: 700;
  font-size: 8rem;
  line-height: 1;
  color: #ffffff; }

.history-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4.5rem; }
  .history-item__decs {
    width: 50%; }
    .history-item__decs .history-item__title,
    .history-item__decs .history-item__text {
      max-width: 37rem; }
  .history-item__media {
    width: 50%; }
    .history-item__media img {
      display: inline-block;
      margin-bottom: 1rem;
      max-width: 100%;
      height: auto; }
  .history-item__title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1;
    color: #182528;
    margin-bottom: 4rem;
    padding-left: 1.4rem;
    position: relative; }
    .history-item__title:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: .4rem;
      background: #007756; }
  .history-item__text {
    font-size: 1.8rem;
    line-height: 3rem;
    color: #182528; }
    .history-item__text p {
      font-size: 1.8rem;
      line-height: 3rem; }
    .history-item__text a {
      color: #007756; }
      .history-item__text a:hover {
        text-decoration: underline; }
  .history-item__media-info {
    font-style: italic;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #182528; }
  .history-item__inner {
    display: flex;
    flex-wrap: wrap; }
    .history-item__inner .inner-item {
      width: 50%;
      margin-bottom: 4rem; }
      .history-item__inner .inner-item__title {
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1;
        color: #182528;
        margin-bottom: 2px; }
      .history-item__inner .inner-item__number {
        font-weight: 100;
        font-size: 7rem;
        line-height: 1;
        color: #007756; }

.banner-history {
  margin-bottom: 8rem;
  width: 100%; }
  .banner-history img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.management-wrapper {
  padding: 8rem 0; }

.management-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #182528; }
  .management-text p {
    margin-bottom: 6rem; }
  .management-text a {
    font-size: 1.8rem;
    line-height: 3rem;
    color: #007756;
    text-decoration: underline; }
    .management-text a:hover {
      text-decoration: none; }

.management-media {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem; }

.management-item {
  width: calc(50% - 3rem);
  margin: 0 1.5rem 6rem; }

.management-item__media {
  margin-bottom: 1rem; }
  .management-item__media img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.management-item__info {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #182528; }

.contact-wrapper {
  padding: 8rem 0; }
  .contact-wrapper .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.contact-info {
  width: 30rem;
  display: flex;
  flex-wrap: wrap; }
  .contact-info__item {
    width: 100%;
    position: relative;
    margin-bottom: 5rem;
    padding-left: 2rem;
    font-family: "Roboto"; }
    .contact-info__item .icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 1.3rem;
      height: 1.3rem;
      fill: #007756; }
  .contact-info__title {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1;
    color: #182528;
    margin-bottom: 5px; }
  .contact-info__desc {
    font-size: 1.6rem;
    line-height: 1;
    color: #565D5F; }
    .contact-info__desc a {
      font-size: 1.6rem;
      line-height: 1;
      color: #565D5F; }
      .contact-info__desc a:hover {
        color: #007756; }

.contact-form {
  width: 77rem; }
  .contact-form form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem 0; }
  .contact-form label {
    display: inline-block;
    width: calc(50% - 3rem);
    margin: 0 1.5rem 3rem; }
    .contact-form label input {
      width: 100%; }
  .contact-form .label-textarea {
    width: calc(100% - 3rem);
    margin: 0 1.5rem 1rem; }
    .contact-form .label-textarea textarea {
      width: 100%;
      height: 10rem;
      resize: none; }
  .contact-form .form-info {
    width: calc(100% - 3rem);
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #67696D;
    margin: 0 1.5rem 3rem; }
  .contact-form .btn-primary {
    margin-left: 1.5rem;
    padding: 2rem 4rem; }

.map-wrapper {
  padding: 0;
  position: relative; }
  .map-wrapper .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }

.map-item {
  width: 100%;
  height: 60rem;
  outline: none; }

.map-info {
  background: #FFFFFF;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  padding: 7rem 3rem 4rem;
  position: absolute;
  top: 10rem;
  left: 0;
  max-width: 37rem; }
  .map-info .contact-info__item {
    margin-bottom: 3rem; }

.map-desc {
  padding: 8rem 0; }
  .map-desc .container {
    display: flex;
    flex-wrap: wrap; }
  .map-desc__item {
    width: calc(50% - 3rem);
    margin: 0 0 5rem;
    max-width: 58rem; }
  .map-desc__title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    color: #182528;
    margin-bottom: 1.5rem;
    padding-left: 1.4rem;
    position: relative; }
    .map-desc__title:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: .4rem;
      background: #007756; }
  .map-desc__desc {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #565D5F;
    padding-left: .9rem; }

.info-wrapper {
  padding: 8rem 0; }
  .info-wrapper .info-text {
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #182528;
    margin-bottom: 8rem; }
    .info-wrapper .info-text p {
      margin-bottom: 2.8rem; }
  .info-wrapper .contact-info__desc {
    line-height: 2rem; }

.info-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem 5rem; }
  .info-wrap .contact-info__item {
    margin: 0 1.5rem 3rem;
    width: calc(25% - 30px); }

.info-subtitle {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #182528;
  margin-bottom: 4rem; }

.info-item {
  margin-bottom: 4rem; }
  .info-item__title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    color: #182528;
    margin-bottom: 2rem;
    padding-left: 1.4rem;
    position: relative; }
    .info-item__title:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: .4rem;
      background: #007756; }
  .info-item__text {
    padding-left: 1.4rem; }
    .info-item__text b {
      font-size: 1.6rem;
      line-height: 1;
      color: #182528;
      margin-bottom: .5rem; }
    .info-item__text p {
      font-size: 1.6rem;
      line-height: 2rem;
      color: #565D5F;
      margin-bottom: 3rem; }
      .info-item__text p:last-of-type {
        margin-bottom: 0; }
    .info-item__text a {
      font-size: 1.6rem;
      line-height: 2rem;
      color: #007756;
      text-decoration: underline; }
      .info-item__text a:hover {
        text-decoration: none; }

@media screen and (max-width: 992px) {
  .header .container .header-nav {
    transition: all ease 300ms;
    position: fixed;
    left: -100%; }
    .header .container .header-nav ul {
      flex-direction: column; }
    .header .container .header-nav li {
      margin: 0 0 3.2rem; }
    .header .container .header-nav a {
      font-size: 3.2rem;
      position: relative; }
      .header .container .header-nav a:before {
        transition: all ease .2s;
        position: absolute;
        content: '';
        width: 1rem;
        height: 1px;
        opacity: 0;
        left: 0;
        top: 50%;
        margin-top: -1px;
        background: #ffffff; }
      .header .container .header-nav a:hover {
        padding-left: 2.5rem; }
        .header .container .header-nav a:hover:before {
          opacity: 1;
          width: 1.5rem; }
  .header .container .header-social {
    transition: all ease 300ms;
    position: fixed;
    left: -100%;
    bottom: 4rem; }
  .header-lang {
    margin: 0 3rem 0 auto; }
  .header-overlay {
    left: -100%; }
  .header-button {
    display: block; }
  .title-page {
    margin-bottom: 2rem; }
  .info-wrap .contact-info__item {
    width: calc(50% - 30px); }
  .map-info {
    padding: 4.6rem 2.6rem 2rem;
    top: 5rem;
    right: 0;
    margin: 0 auto; }
  .map-item {
    height: 80rem; }
  .history-item__inner .inner-item__title {
    min-height: 4rem;
    line-height: 1.2; }
  .history-item__inner .inner-item__number {
    font-size: 5rem; }
  .banner-history {
    min-height: 24rem;
    margin-bottom: 6rem; }
    .banner-history img {
      min-height: inherit;
      object-position: left; }
  .contact-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .contact-info .title-section {
      width: 100%; }
    .contact-info__item {
      width: 33.333%; }
  .contact-form {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .page-top:before, .page-top:after {
    display: none; }
  .info-item__title, .map-desc__title {
    font-size: 2.2rem;
    line-height: 111%; }
    .info-item__title:before, .map-desc__title:before {
      top: .4rem;
      height: 1.8rem; }
  .history-item__decs {
    width: 100%;
    margin-bottom: 3rem; }
    .history-item__decs .history-item__title,
    .history-item__decs .history-item__text {
      max-width: 100%; }
  .history-item__media {
    width: 100%; } }

@media screen and (max-width: 576px) {
  .title-page {
    font-size: 6rem; }
  .title-section {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2.2rem; }
  .info-wrap .contact-info__item {
    width: calc(100% - 30px); }
  .map-desc__item {
    width: calc(100% - 3rem); }
  .history-item__inner .inner-item__number {
    font-size: 4rem; }
  .management-wrapper {
    padding: 3.2rem 0 1rem; }
  .management-media {
    width: 100%;
    margin: 0; }
  .management-item {
    width: 100%;
    margin: 0 0 4rem; } }

@media screen and (max-width: 480px) {
  .contact-info__item {
    width: 100%;
    margin-bottom: 2.2rem; }
  .contact-form form {
    margin: 0; }
  .contact-form label {
    width: 100%;
    margin: 0 0 1.2rem; }
  .contact-form .form-info {
    margin: 0 0 1.2rem;
    width: 100%; }
  .contact-form .label-textarea {
    margin: 0 0 .8rem;
    width: 100%; }
  .contact-form .btn-primary {
    width: 100%;
    margin-left: 0; } }

@media screen and (max-width: 400px) {
  .title-page {
    font-size: 5rem; }
  .header .header-social__phone, .header .header-social__email {
    font-size: 16px; }
  .header .container .header-nav a {
    line-height: 1;
    font-size: 2.5rem; } }

.header-main {
  width: 31.51vw;
  height: 100vh;
  padding: 1.56vw; }

@media screen and (max-width: 992px) {
  .header-main {
    height: auto;
    width: 100%;
    padding: 2.7rem 0 2rem;
    background: transparent; }
    .header-main .container {
      flex-direction: row;
      padding: 0 15px;
      justify-content: space-between;
      align-items: center; }
      .header-main .container a {
        font-size: 3rem; }
    .header-main .header-lang li:after {
      font-size: 2rem; }
    .header-main .header-lang a {
      font-size: 2rem; }
    .header-main .header-logo {
      position: relative;
      width: 12.6rem;
      height: 6.5rem;
      left: 0;
      top: 0; }
      .header-main .header-logo a {
        display: inline-block;
        width: 100%;
        height: 100%; }
      .header-main .header-logo .icon {
        width: 100%;
        height: 100%;
        fill: #ffffff; }
  .hero-slider__media img {
    height: calc(100% - 6.35vw); }
  .hero-slider__desc {
    height: calc(100% - 32.26vw);
    width: 100%;
    max-width: 100%;
    left: 0;
    padding: 0 15px; }
  .hero-slider__title {
    font-size: 8.06vw;
    line-height: 10.08vw;
    -webkit-text-stroke: 0.2vw #1E3438; }
  .hero-slider__author {
    font-size: 4.03vw; }
  .hero-slider__info {
    height: 30.24vw;
    padding: 5.04vw 0 4.74vw 0vw; }
  .hero-slider__text {
    padding: 0 15px;
    max-width: 100%;
    font-size: 2.02vw;
    line-height: 3.43vw; }
  .nav-hero__slider {
    z-index: 1;
    bottom: 6.05vw;
    right: 6.05vw; }
    .nav-hero__slider .prev-slide:before,
    .nav-hero__slider .next-slide:before {
      width: 5.04vw;
      height: 5.04vw;
      margin-top: -2.62vw;
      border: 0.1vw solid #ffffff; }
    .nav-hero__slider .prev-slide {
      margin-right: 2.02vw; }
      .nav-hero__slider .prev-slide:before {
        left: -2.12vw; }
    .nav-hero__slider .next-slide:before {
      right: -2.12vw; }
    .nav-hero__slider .icon {
      width: 4.03vw;
      height: 4.03vw; } }

@media screen and (max-height: 600px) and (max-width: 992px) {
  .header-main .container a {
    font-size: 2rem; }
  .header.is-open .container .header-nav {
    top: 11rem; }
  .header.is-open .container .header-social {
    margin-bottom: 0; }
  .header .container .header-nav li {
    margin: 0 0 1.2rem; }
  .header .container .header-nav a {
    font-size: 2.2rem;
    line-height: 1; }
  .hero-slider__desc {
    height: calc(100% - 20.16vw);
    width: 100%;
    max-width: 100%;
    left: 0;
    padding: 0 15px; }
  .hero-slider__title {
    font-size: 4.03vw;
    line-height: 4.84vw;
    -webkit-text-stroke: 0.2vw #1E3438; }
  .hero-slider__author {
    font-size: 3.02vw; }
  .hero-slider__info {
    height: 21.17vw;
    padding: 3.02vw 0 5.75vw 0vw; }
  .hero-slider__text {
    padding: 0 15px;
    max-width: 100%;
    font-size: 1.81vw;
    line-height: 2.62vw; }
  .nav-hero__slider {
    z-index: 1;
    bottom: 3.02vw;
    right: 4.03vw; }
    .nav-hero__slider .prev-slide:before,
    .nav-hero__slider .next-slide:before {
      width: 5.04vw;
      height: 5.04vw;
      margin-top: -2.62vw;
      border: 0.1vw solid #ffffff; }
    .nav-hero__slider .prev-slide {
      margin-right: 2.02vw; }
      .nav-hero__slider .prev-slide:before {
        left: -2.12vw; }
    .nav-hero__slider .next-slide:before {
      right: -2.12vw; }
    .nav-hero__slider .icon {
      width: 4.03vw;
      height: 4.03vw; } }

@media screen and (max-width: 460px) {
  .header-main .header-logo {
    width: 9.6rem;
    height: 5rem; }
  .header-logo {
    width: 9.6rem;
    height: 5rem; }
  .hero-slider__media img {
    height: calc(100% - 96.43vw); }
  .hero-slider__desc {
    height: calc(100% - 92.86vw);
    width: 100%;
    max-width: 100%;
    left: 0;
    padding: 0 15px; }
  .hero-slider__title {
    font-size: 7.86vw;
    line-height: 10.71vw;
    -webkit-text-stroke: 0.36vw #1E3438; }
  .hero-slider__author {
    font-size: 5.71vw; }
  .hero-slider__info {
    height: 101.79vw;
    padding: 17.86vw 0 16.79vw 0vw; }
  .hero-slider__text {
    padding: 0 15px;
    max-width: 100%;
    font-size: 4.29vw;
    line-height: 6.43vw; }
  .nav-hero__slider {
    bottom: 3.57vw;
    right: 5.36vw; }
    .nav-hero__slider .prev-slide:before,
    .nav-hero__slider .next-slide:before {
      width: 10.71vw;
      height: 10.71vw;
      margin-top: -5.71vw;
      border: 0.36vw solid #ffffff; }
    .nav-hero__slider .prev-slide {
      margin-right: 3.57vw; }
      .nav-hero__slider .prev-slide:before {
        left: -3.93vw; }
    .nav-hero__slider .next-slide:before {
      right: -3.93vw; }
    .nav-hero__slider .icon {
      width: 10.71vw;
      height: 10.71vw; } }
